[2020-04-29 15:16] jpgill86 commented on #812
Hi @TRuikes,

I think your only option is [RawBinarySignalIO](https://neo.readthedocs.io/en/stable/io.html#neo.io.RawBinarySignalIO).

[code]

[2020-04-30 18:14] TRuikes commented on #812
Allright! I think this one is WIP aswell. I'll use [h5 for now](https://github.com/TRuikes/python-neo/blob/hacks_thijs/neo/io/lazyanalogsigio.py).

[2020-05-02 18:39] TRuikes commented on #812
I found my answer (Nixio in combination with NixioFr can do it) in #786, in case anyone ends up here!

[2020-05-02 18:39] #812 closed

[2020-05-04 12:46] samuelgarcia commented on #811
Hi Julia.
I think really prefer deepcopy of annotation.
I forget why we did not copy annotations yet.

Having uid for neo object is not a solution I like.

And about the when to make the copy, I don't known choose the simpler!!

Cheers,

Samuel

[2020-05-04 14:21] yarikoptic opened #813 "Amplipex support"
Many labs used amplipex systems (Buzsaki, et al) and manufacturer provides good amount of documentation and sample scripts: http://www.amplipex.com/downloads/ .  Would be nice to gain support for it in neo, so I could hopefully use it within spikeinterfaces.
Thanks in advance!

[2020-05-04 14:26] samuelgarcia commented on #813
With a very very short overview of the doc it appear the main file is as a dat file.
So having a neo io that read only trace at the moment should quite easy.
Note that you can already use rawsignal in neo but you need now externally the sampling_rate/channel_count/dtype. An io would make it automagic.

[2020-05-04 14:27] samuelgarcia commented on #813
Could you provide some small file for testing ?
Here : https://gin.g-node.org/NeuralEnsemble/ephy_testing_data

[2020-05-04 18:41] mvdm opened #814 "Neuralynx loader output for a given file differs depending on what other files are present in folder"
When loading a Neuralynx data file, the timestamps assigned by neo depend on what other files are present in the same folder.

For instance, loading a .ntt file with no other files present gives a first timestamp of 0.0 s, but loading that same file with some .ncs files also present gives a first timestamp of ~0.12 s.

Minimal working example [here](https://github.com/vandermeerlab/data-formats/bl

[2020-05-04 19:09] samuelgarcia commented on #814
So the reason more due to the neuralynx format than neo implementation.

In neo we have the concept of t_start.

In neo t_start for an AnalogSignal is the timestamp of the first sample.

For SpikeTrain (or Event) :  t_start (or t_stop) have another meaning : it give boudaries to a train of event or spike.
It can be usefull when the absolute recording start is 1000s and the first spike is 1001s.

I

[2020-05-04 19:57] mvdm commented on #814
Yes, the concept of t_start (and t_end) is important for things like calculating firing rates, as you point out. But these boundaries can be loaded or specified, in principle, without changing any of the timestamps. In other words, t_start could be some nonzero value.

Is it a neo architecture decision to force t_start to be 0? Or could there be an option to have it be the actual Neuralynx recordi

[2020-05-04 20:59] samuelgarcia commented on #814
It is neuralynx specific.
I think that spike timestamps are clock internal clock ticks.
And so timestamps depend of the very global t_start which itself depend on other files.
I will check the code.

[2020-05-04 21:04] samuelgarcia commented on #814
We have maybe a bug here.
@JuliaSprenger : do you remember why does the self.global_t_start is used here
https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/neuralynxrawio.py#L344
it is related to this
https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/neuralynxrawio.py#L206-L240

[2020-05-04 21:12] samuelgarcia commented on #814
OK I anderstand.
We have a concept of global t_start inside this IO which is the very timestamp accros all object (sigs, event, spike) and accros all segments.
This global_t_start is hidden externaly (begining of recording and set to 0s)

It appear here that signals starts 0.12s before the first spike.
In short there is NO t_start in the ntt file, so the first spike is the t_start which is bad I a

[2020-05-04 21:30] JuliaSprenger commented on #814
Yes, in this IO all data is aligned according to the first sample recorded to have the whole dataset relative to t=0. In case of a only nse or ntt this is the first spike, since these files don't contain a t_start. In case of an ncs being present, this is the first sample.
This is what is causing the first spike being aligned to different times depending on the reference files being present. I agr

[2020-05-04 23:01] mvdm commented on #814
OK, I understand that the difference in output that started this issue arises from an underlying goal to find the first recorded sample across all data types and files in the data set and designate that sample t = 0. I agree a warning if no ncs or nev file is present would be helpful to alert the user that under these conditions, t = 0 likely will not correspond to the start of the recording.

How

[2020-05-05 08:08] samuelgarcia commented on #814
You can have access to the true time stamps with the neo.rawio layer and not the neo.io layer.

[code]

Have a look to:  https://neo.readthedocs.io/en/stable/rawio.html

@JuliaSprenger : yes the warning sounds better.

[2020-05-07 14:23] #814 closed

[2020-05-07 15:20] JuliaSprenger commented on #814
@mvdm Can you test the new 'keep_original_times' feature of the NeuralynxIO by installing the current master? I hope this solves your issue.

[2020-05-11 21:00] mvdm commented on #814
@JuliaSprenger: I tested the 'keep_original_times' feature on our data and the loader now returns the expected timestamps (without attempting to align to zero). I also did a few informal tests on the output, such as visually inspecting the histogram of differences between timestamps, and all looks good. Thank you!

[2020-05-12 21:22] balajisriram commented on #696
@matthewperkins could you specify what the error in the directory structure was - I couldnt read a TDT tank either and got a similar error

[2020-05-13 10:16] dizcza opened #816 "BlackRockIO lazy=True does not load waveforms"
Hello neo devs!
When I use R2G data https://gin.g-node.org/INT/multielectrode_grasp, I can load waveforms only when lazy flag is off. Steps to reproduce:

[code]

I have another question: I pass `nsx_to_load=[]` not to load the continuous data. This behaviour - empty list - is not documented, but it seems to work fine.

neo v0.8.0
python 3.8.2

[2020-05-13 10:42] samuelgarcia commented on #816
When ```lazy=True``` the load_waveforms must be set directly in :

```spiketrain.load(time_slice=(10 * pq.s, 30 * pq.s), load_waveforms=True)```

[2020-05-13 10:44] samuelgarcia commented on #816
See https://github.com/NeuralEnsemble/python-neo/blob/master/neo/io/basefromrawio.py#L271

[2020-05-13 11:05] dizcza commented on #816
I see, thanks.
I expected the waveforms to be loaded because I pass `session.read_segment(lazy=True, load_waveforms=True)`. I didn't know that the `load_waveforms` flag is ignored while reading the segments.
Does it make sense to add a warning then? Or, if passed, save it and then automatically pass to `spiketrain.load()`?

[2020-05-13 11:59] samuelgarcia commented on #816
Yes, i known : it is not intuitive.

kargs in read_segment/read_block are only when lazy=False (because pass trhourg directly to lazy object).

Theses kargs are ignored when lazy=True.

I think saving kargs for future load is complicated and even less intuitive.

A warning for ```lazy=True and load_waveforms=True``` is a good solution.

[2020-05-13 12:17] dizcza commented on #816
Sounds good.
I also stumbled upon
[code]
Without knowing that loading means calling the .load() function, the explanation is hard to read.
Consider changing the sentence to include ".load()" in it, like "...when calling the .load() function"

[2020-05-20 16:37] weltgeischt opened #818 "SpikeIO does not load .smr"
Dear Neo developers,
I can not load some of my .smr files with Spike2IO. I work with **python 3.5.2** and tried Neo versions **0.8.0** and **0.9.0.dev**. The error message is: “_IndexError: index 0 is out of bounds for axis 0 with size 0_”.
Note that I got the same error for some other  .smr files and could resolve this by using try_signal_grouping=False, however, the issue persists for some other

[2020-05-20 17:12] samuelgarcia commented on #818
Thank for the report, I will have a look.

[2020-05-27 09:00] TRuikes opened #819 "[NeuralynxIO] Improve features"
Hi! While working with NeuralynxIO in different datasets I came across a few bug/missing features, which I think will be useful (necessary) additions:

* [Input is automatically inverted](https://github.com/NeuralEnsemble/python-neo/blob/7409f47b5debd4d2a75bbf0e77ac10562446c97a/neo/rawio/neuralynxrawio.py#L109-L110), I was not aware this was happening, but is important to know.
* [Using regexp bre

[2020-05-27 09:01] TRuikes commented on #805
Extended this in #819

[2020-05-27 09:01] #805 closed

[2020-05-27 11:16] JuliaSprenger commented on #819
Hi @TRuikes!
Thanks for the very extensive investigation and list of references.
Regarding the individual points:
- Yes, the signal is automatically inverted if the `input_inverted` flag is set. However, if you think this is unintuitive, feel free to change it, since I implemented this rather on a hunch and not with a specific use case in mind.
- Feel free to extend the regexp construct to cover t

[2020-05-27 11:16] samuelgarcia commented on #819
Hi @TRuikes.
Thank you for this long analysis.
Feel free to make proposal with PRs.

Julia have a better knownledge than me about format specification.

About the inverted input. Do you want to say, it is a bug or it is a feature ? Ot would like a karg to control that ` `compensate_interved=True/false`

About regexp for datetime we can have dataetime=None when it fail, I agree.

About DspDelayComp

[2020-05-27 11:17] samuelgarcia commented on #819
Anwser at same time.
I think we can have both behavior possible. But it is lead to more difficult code.

[2020-05-27 17:07] TRuikes commented on #819
thanks for the responses. Ill upload examples when I can.

* `input_inverted` I would see it as a feature, it's a nice functionality for sure. But what happend now is that the 'researcher' told me he recorded his data with 'inverted' on, then I use this IO to load data and generate a `.dat` file for klusta (using spikesorting in fact), and in the parameters I ask klusta to look for negative peaks.

[2020-05-27 18:32] sin-mike commented on #819
Hi, @TRuikes
I've been working with Neuralynx for about 5 years now in both, Matlab and Python. I'm not a maintainer, however, I've studied neo interface thoroughly and I can answer make some clarifications.

A:`Input inverted` is a reasonable feature when working with positive/negative fields, like reversions. So, having it set by default is being agnostic to the experimenter's setup.

A: Data no

[2020-05-27 18:42] sin-mike commented on #819
A: Klusta is working pretty well with this parameter to be ON by default. That's why it is there. You should bother not about how an experimenter did his config, inverted or not. In addition, spyking circus working with ncs files uses this parameter same way and it works well:
https://github.com/spyking-circus/spyking-circus/blob/8efc51b357ec04cb924bcdb5601eeda8a6bfcb31/circus/files/neuralynx.py#L

[2020-05-28 09:46] TRuikes commented on #819
Hi @sin-mike, good that you join the discussion, I'm fairly inexperienced I'd say, so it's good to have some more input from experimentalists. I'll comment below on your remarks, after this I'll continue on the PR: #820. I also [uploaded examples of my breaking data](https://gin.g-node.org/TRuikes/ephy_testing_data/src/master/neuralynx/examples_breaking_data). And reading back I realized i didn't

[2020-05-28 12:08] ShirinNajdi opened #821 "Error in loading Micromed data: UnicodeDecodeError: 'ascii' codec can't decode byte 0xed in position 12"
Hi,

I encountered an error trying to load .trc data recorded with Micormed system using neo. Here is the error:

`seg = reader.read_segment(lazy=False)`
`e = e.load(time_slice=time_slice, strict_slicing=strict_slicing)`
`t_start=_t_start, t_stop=_t_stop)`
`block_index, seg_index, event_channel_index, t_start, t_stop)`
`labels = raw_event['label'].astype('U')`
`UnicodeDecodeError: 'ascii' codec ca

[2020-06-02 12:14] ShirinNajdi commented on #821
Can anybody suggest a solution for this problem?

[2020-06-02 12:45] JuliaSprenger commented on #821
Hi @ShirinNajdi,
could you give the full traceback of the error and provide minimal code on how you load the data? There are some inconsistencies in your code that make it more complicated to understand what parts of the code you are actually running.
Also if you are able to provide a tiny .trc file which already causes the error, this could help debugging here.

[2020-06-03 09:22] samuelgarcia commented on #821
Hi @ShirinNajdi,
if you don't have restriction about data pricacy would it be possible to send us the this file ?

[2020-06-03 11:05] ShirinNajdi commented on #821
Hi.

This is the part of code that I am using for reading the data:

`from neo.io import MicromedIO`
`reader = MicromedIO(filename=database_path)`
`seg = reader.read_segment(lazy=False)`

The following is the error that I get:

`Traceback (most recent call last):`
 `File " windowing.py", line 32, in _read_trc`
 `seg = reader.read_segment(lazy=False)`
 `File "~/Library/Python/3.6/lib/python/site-pa

[2020-06-03 11:28] samuelgarcia commented on #821
Thank you. This help.

In micromed there is 4 events channel with diffrents internal dtypes:
[code]
I think that it is  "NOTE" channel with S40 dtype for label.
**\x00** should be the terminating char but in that file there are extra char after it.
What do you see in the micromed software when you open this file ?

[2020-06-03 15:22] ShirinNajdi commented on #821
@samuelgarcia I don't have access to Micromed system, I am working with data exported from this system. However I asked this question from data providers and I'm waiting for their reply.

[2020-06-05 16:38] weltgeischt commented on #818
Hi Samuel,
sorry to bother you again. Did you already find out why the .smr loading
does not work? We rather urgently need to analyze this data because a
resubmission deadline is looming.
Greetings,
Katharina

Am Mi., 20. Mai 2020 um 19:12 Uhr schrieb Garcia Samuel <
notifications@github.com>:

[2020-06-05 19:22] samuelgarcia commented on #818
Hi Katharina,
sorry for the delay.
I had a look to the file and it seems strange. The data block index are totally illogical for the file.
Is it the only file like this ?
Is a smrx (next spike2 version) in fact ?

Samuel

[2020-06-06 14:04] weltgeischt commented on #818
Hi Samuel,
thank you for your response. I just asked my colleague who records the data
and thats what she said:
1) She encountered this error for about half of her files (so about 50, I
guess)
2) She *did not use a different version of spike2* than for the files she/I
could open
3) BUT She *configured spike2 to "big file"* so she does not have to start
a new recording after 2GB are full.
So I gues

[2020-06-06 14:05] weltgeischt commented on #818
to be clear for 3) She configured to big-file after she had already
recorded some other recordings. So the issue might be really with big file.

Am Sa., 6. Juni 2020 um 16:04 Uhr schrieb Katharina Heining <
katharina.heining@bcf.uni-freiburg.de>:

[2020-06-08 07:32] samuelgarcia commented on #818
Yes. I think this is the case.
Unfortunatly, this big file is not handle in neo now.
I would be happy to code it but I would need a format specification from the manufacturer.
Could you contact then ?
I would also need a small file of this type to implement test.

[2020-06-09 11:53] Ashkees commented on #792
Hi.  I am also interested in this feature if it becomes available.  Thanks!

[2020-06-09 12:00] samuelgarcia commented on #792
Hi all.
I am the autor of this IO but I never use it.
Reading this
https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/intanrawio.py#L522
suggest that it is implemented at header parsing level but thoses channel are not exposed to
_get_analogsignal_chunk and not expose in the header['signal_channels']
If someone have time to do it it would be great.
Do you plan to have expose thoese

[2020-06-09 12:10] Ashkees commented on #792
For me, either an analogsignal or events would be fine.  If I had it as as analogsignal, most likely I would then convert it into an events, but this should be straightforward.

[2020-06-12 04:55] deeptimittal12 commented on #777
Is there any update on this issue? I am interested in reading .smrx files from spike2 using neo package but it seems impossible like you mentioned. Is there any other way i could do this? May be using spikeinterface? any suggestions in this direction would be really helpful.

[2020-06-12 06:47] samuelgarcia commented on #777
We could implement the smrx file format but we need the file format specification and a small file for testing.
If a spike2 user could contact CED for this and give us the format spec I would be happy to help for the implementation.

[2020-06-12 07:04] deeptimittal12 commented on #777
@samuelgarcia Thank you for your response. I have already contacted spike2 ced people they told me that they are developing pyson (matson is already available) library to read .smrx in python though it is work in progress and it will only work on windows. I can provide example .smrx file and the specifications too. Could you please provide me with your email id? Thank you.

[2020-06-12 08:40] samuelgarcia commented on #777
Maybe if pyson is opensource maybe we should be able to infer the specification from the code. But my guess is that pyson will be only a wrapper on top of windows dll. So it will be very retrictive to use (win + closed dll). I think users should insist to have  spec.

[2020-06-12 08:44] deeptimittal12 commented on #777
http://ced.co.uk/de/downloads/contributed#SONPython This only supports .smr though.

[2020-06-12 12:09] brandonStell commented on #818
I'm new to neo (and spike2) and am also having trouble loading a .sml: https://filesender.renater.fr/?s=download&token=56c8574e-d9c3-4719-84d5-c981bdfa7563

[code]

[code]

Any suggestions would be greatly appreciated.

[2020-06-12 13:08] IanGMalone commented on #777
I'm not sure if this helps you, but the workaround that I'm using is to use Spike2 to export the .smrx as a .mat, then read that .mat in Python using the h5py library.

[2020-06-12 14:16] deeptimittal12 commented on #777
@IanGMalone I thought about it already. There are many indirect solutions but we would like to minimise these steps.

[2020-06-13 20:42] MarinManuel commented on #818
Hi @samuelgarcia
I've looked in the documentation for the CED SON library (http://ced.co.uk/upgrades/spike2tools). It seems the offsets have changed for v9 Spike2 files.

I've added a check for v9 files, and adjusted the offsets accordingly. As far as I can tell, that is enough to allow reading @weltgeischt 's file above. However, there is another problem with @brandonStell 's file that's unrelate

[2020-06-13 21:24] MarinManuel commented on #818
I may have fixed the issue with the non-ascii char. I've included it in the PR. I'd be happy to provide some v6 and v9 files for a test case. Unfortunately, I don't know really know how to write unit tests

[2020-06-14 07:39] weltgeischt commented on #818
Hi Samuel,
1) my colleague has asked the Spike2 people about the format specification
and is still awaiting an answer.
2) here you can find a very small file saved with the bigfile configuration
for testing:
https://www.dropbox.com/s/b2qp5lpq856g0ro/Enya%20Paschen%20%20-%20Two-mice-bigfile-test000.smr?dl=0
Thank you very much for your efforts and have a nice weekend,
Katharina

Am Mo., 8. Juni 202

[2020-06-14 07:55] MarinManuel commented on #818
@weltgeischt I think the PR i pushed yesterday works to open your file.
![Figure_1](https://user-images.githubusercontent.com/65401298/84588137-12c2ca00-ae25-11ea-9f9c-8a5021ef87dc.png)

[2020-06-14 14:15] brandonStell commented on #818
Thanks a lot @MarinManuel !  This is working fine for me.
@samuelgarcia any chance of merging this to master or should I keep working with the PR for now?

[2020-06-14 16:49] weltgeischt commented on #818
The new PR did the trick for me too, thank you!

[2020-06-15 15:12] samuelgarcia commented on #818
I f it works for all.
I can merge quite soon.
Let me first add the file test in gin.gnode and add this file in tests first.

[2020-06-15 18:14] cyberfag opened #825 "Time scale issue in merged .plx-files"
Using PlexonIO for opening .plx-files which are the result of merging multiple .plx-files in PlexUtil leads to incorrent events time stamps. For example, I have 2 files recorded with the gap of 20 minutes. Then it turnes out that events stamps are located in time considering that gap of 20 minutes, but this gap cannot be taken into account for the analog signals (because the recording was stopped

[2020-06-16 08:16] samuelgarcia commented on #825
Oups.
I think I was not aware that a plx file could be a concatenation of several files.
In that case several segment should exposed with this IO and this is not the case.
Do you have information about how this multi segment is describe inside the plx specification ?
If you have time, could you propose a patch for this ?

[2020-06-17 18:21] cyberfag commented on #825
Not really for both questions. But there must be something in plx-files
since they are opened correctly in some specific software, for example
NeuroExplorer (Plexon Ltd.). And about the patch, well, I am not really
properly skilled for such tasks, sorry.

вт, 16 июн. 2020 г. в 11:16, Garcia Samuel <notifications@github.com>:

[2020-06-19 16:03] morales-gregorio opened #827 "[Feature] Make neo.core.Epoch more useful"
Hey!

I have been working with neo epoch for annotating behavioral states of a monkey and noticed that there are some few functionalities that would have made my life so much easier.

These are just some ideas:
* When I create an epoch with unsorted entries it would be nice that the epoch sorts them according to the `epoch.times`
* It would be super useful to have some methods to check for:
    *

[2020-06-25 13:15] #801 closed

[2020-07-03 09:57] JuliaSprenger opened #828 "Add validator to ensure neo structure is rawio compatible"
This idea was developed in #626.

The validator can be used to ensure a saved neo structure can be loaded with a rawio.
It should be part of `neo.utils`. Besides providing a boolean feedback, it might also indicate to the user the structural parts that are not consistent with the rawio requirements.

[2020-07-03 10:03] JuliaSprenger opened #829 "Future development of waveforms"
As initialized in #457, the current handling of waveforms within the Neo framework is non ideal due to multiple reasons
- unintuitive dimensionality in comparison to `AnalogSignal`s
- bad performance for large datasets / no lazy option here

Suggested changes are:
- Detach the representation of waveforms from `Spiketrain`s and represent these as separate, more performance oriented object.
- Use th

[2020-07-03 10:50] morales-gregorio opened #830 "[Feature] Function to merge analogsignals"
Hey all,

I wrote the following function to merge analogsignals, because I needed it. The function is thought to be memory efficient, and thus systematically deletes the data that has been duplicated.

If you think this function can find a home somewhere in the neo codebase, let me know where and I can create a corresponding test and PR it.

[code]

Cheers!
Aitor

[2020-07-05 12:18] morales-gregorio opened #831 "[Bug] neo.SpikeTrain.time_slice() should not work outside the original t_start and t_stop"
Hey,

Was slicing some data and realized that the `neo.SpikeTrain.time_slice()` can take **any** times in and will return a `neo.SpikeTrain`, so even if one is outside of the range it will give you an empty spiketrain.

In my use case however, not all spiketrains "exist" at all times, meaning that because of some acute probe moved a unit was lost. So in principle the neuron is not just silent for

[2020-07-05 13:00] morales-gregorio commented on #831
I was just going through the code again and noticed it is even worse 😅. Actually you can get a spiketrain back that has `st.t_start` > `st.t_stop`, which I believe should never happen.

I will look into it already and relabel the issue as a bug 🐞

[2020-07-06 09:35] morales-gregorio commented on #827
Hohey again!

Some further improvements could also include:
* `epoch.t_stop` is equal to `epoch.times[-1]`, but for me it would make much more sense if it would be `epoch.times[-1] + epoch.durations[-1]`
* `epoch.time_slice()` acts only on the `epoch.times`, but in my opinion it should also crop the `epoch.durations[-1]` when necessary (following the t_stop criterion that I thought would make more

[2020-07-06 12:52] #818 closed

[2020-07-06 13:16] #744 closed

[2020-07-07 10:02] samuelgarcia opened #832 "Force group channel in IOs by default for all IOS"
[code]
must now be
[code]

[2020-07-07 12:27] apdavison commented on #813
@yarikoptic Could you provide some small file for testing ? (see above)

[2020-07-07 12:43] #766 closed

[2020-07-07 12:44] apdavison commented on #766
Closed by #767

[2020-07-07 12:45] apdavison commented on #765
@Gittinator do you have an example you can send us, to help debug this problem?

[2020-07-07 12:53] apdavison commented on #761
Suggestion from @mdenker that we add a keyword argument to choose between AND and OR, set to OR by default for backwards compatibility, but with a deprecation warning that the default will change.

[2020-07-07 13:39] JuliaSprenger commented on #828
Aspects that should be covered are
- consistent channels across segments
- array annotations can only be basic (default) annotations like channel_id, that are recognized on rawio level as array annotation type
- consistent linking between objects (bidirectional where possible)
- any more ideas?

[2020-07-07 15:32] apdavison opened #834 "time_slice() behaves differently for AnalogSignal and IrregularlySampledSignal"
[code]

gives

[code]

In the docstring for `AnalogSignal.time_slice` it says "Note, that for numerical stability reasons if t_start does not fall exactly on the time bins defined by the sampling_period it will be rounded to the nearest sampling bin. The time bin for t_stop will be chosen to make the duration of the resultant signal as close as possible to t_stop - t_start. This means that for a g

[2020-07-07 15:59] apdavison commented on #834
Perhaps we should add a flag to `time_slice()` to allow choosing either consistent size, or ensuring that all times fall strictly within t_start, t_stop.

[2020-07-11 16:21] JuliaSprenger opened #835 "Support graphical representation of object structure"
Getting an overview of the objects within a Neo structure is often a hurdle for people starting to use Neo. Here, a graphical representation might provide intuitive help.
A representation of a specific Neo structure could provided on a descriptive level, e.g. using the `DOT` graph description language. This can then be rendered using `Graphviz`.

This would, similar to #756, require a standardised

[2020-07-12 15:17] JuliaSprenger commented on #787
Hi again @marcoistasy.
Did you find a suitable file to be added to the set of test files?

[2020-07-12 16:38] JuliaSprenger commented on #751
I am closing this issue due to inactivity.
Suggested Solutions:
- For rare occasions of this error, identify files with inconsistent gaps and separate these in different folders.
- For frequent occasions of this error check the recording setup as described by @sin-mike above.

[2020-07-12 16:38] #751 closed

[2020-07-12 16:55] JuliaSprenger commented on #830
Hi @morales-gregorio!
Thanks for providing this utility code. I am not sure yet on how this could be smoothly integrated with the AnalogSignals objects, therefore I would suggest to make for now available as a [utility function](https://github.com/NeuralEnsemble/python-neo/blob/master/neo/utils.py). What do you think? Could you create a PR for this?

[2020-07-23 07:30] samuelgarcia commented on #710
Duplicate of #832

[2020-07-23 07:31] #710 closed

[2020-07-23 07:47] samuelgarcia opened #838 "Split utils.py in into a folder with multiple files."
If the neo.utils is griwing, having evrything in one file will be hard.
I vote for a split into a sub folder.

[2020-07-23 12:00] samuelgarcia commented on #825
I am wondering how neuroexplorer deal with theses gaps. (aka multi segment)
In my mind neuroexplorer deal only with one segment.
if there one gaps : are the 2 chunks concatenated in neuroexplorer or does the gaps is fill with zeros ?

[2020-07-23 13:25] samuelgarcia commented on #816
@dizcza : finally I put an arror instead a warning to be consistent with the time_slice=...
Could you check if the error message is good enough ?
See #840

[2020-07-23 13:33] samuelgarcia commented on #786
I think we can now close this.
A fix is already there. And ChannelIndex will be removed from basefromrawio.py soon.

[2020-07-23 13:33] #786 closed

[2020-07-23 13:38] samuelgarcia commented on #777
@threefrenchhens @deeptimittal12 @IanGMalone :
could you check if the fix #824 (already merge in master) fix the problem ?
I think I lost theses files.

[2020-07-23 13:42] dizcza commented on #816
Yes, it's definitely better. Thank you.

[2020-07-23 13:52] samuelgarcia commented on #768
Hi @xabiben
Sorry for the ultra long delay.

Now for event "labels" are supposed to be unicode so with dtype 'U'

So if you change to this:
[code]

your script is working. COuld you check so I could close this ?

[2020-07-23 14:43] samuelgarcia commented on #740
Hi @JuliaSprenger I really don't see how we will implement this.
The bad is the key : is it the channel index ? what append when we slice along channel axis ? The key then will be bad.
I think this sparse_channel_annotations is not a so good idea implemented with keys. Maybe with sparse arrays it would be better to be robust when slicing.

[2020-07-23 14:55] samuelgarcia commented on #732
Hi @koopa31. Thank you for this report.
Sorry for the super long delay.
I can add it in MicromedrawIO but are you sure that all micromed file are 'iso-8859-1' ?

[2020-07-23 16:05] koopa31 commented on #732
Hi,
I’m not working in the lab anymore, but I transferred the message to my colleague Quentin Delannoy. He’ll answer you as soon as he goes back from holidays. Thank you for your answer.
Best regards.
Clément Cazorla

[2020-07-28 05:24] Christian-B opened #843 "Default type of AnalogSignal units is wrong"
Describe the bug
AnalogSignal init has units=None
However Quantity has units=''

To Reproduce
import neo
import numpy
import quantities
signal = numpy.asarray([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])
a = neo.AnalogSignal(signal, sampling_period =1 * quantities.ms)

[2020-07-28 07:08] JuliaSprenger commented on #843
Hi @Christian-B,
could you be a bit more specific about the error? I think that with the minimal example above you should receive an `ValueError: Units must be specified` as the signal requires either units to be specified or needs to be a quantity itself.

[2020-07-28 07:22] Christian-B commented on #843
The error is that AnalogSignal init has a default value for the units parameter so your claim "Units must be specified" is INCORRECT!

The problem is that this default is None while the underlying quantity uses the empty string to specify no unit.

[2020-07-28 07:33] JuliaSprenger commented on #843
Hello again,
which version of neo are you using? I have been testing your example with version `0.8.0` and still can't reproduce your error. If I see this correctly, this [check](https://github.com/NeuralEnsemble/python-neo/blob/c9e5829f3209f65bdd0a3100dbb7666f1ce41ec8/neo/core/basesignal.py#L94) was introduced 3 years ago and should be present in all versions released since then.

[2020-07-28 07:42] Christian-B commented on #843
I am using neo 0.6.0 but having checked the error is in current master!
Look at
https://github.com/NeuralEnsemble/python-neo/blob/c9e5829f3209f65bdd0a3100dbb7666f1ce41ec8/neo/core/analogsignal.py#L199
and
https://github.com/python-quantities/python-quantities/blob/a15e9fc71d54ace1827759f18a3b1901088983fd/quantities/quantity.py#L122

1. The first allows the user not to specify units so do not claim

[2020-07-28 07:44] Christian-B commented on #843
The check which blows up if the default code your code puts in is just BAD PROGRAMMING!

[2020-07-28 07:47] Christian-B commented on #843
Once again the correct default value for AnalogSignal units is the EMPTY STRING!

[2020-07-28 09:45] apdavison commented on #843
Dear Christian,

Your use of words in all uppercase, and ending every post with an exclamation mark, comes across as very aggressive. I hope that was not your intention.

When I enter your example:
[code]

I get
[code]

This is with the current master branch. As a check, I also created a new virtualenv with Neo 0.6.0 and Python 2.7, and the same ValueError is raised.

The `units` argument is a rat

[2020-07-28 10:19] Christian-B commented on #843
Yes I am saying the constructor signature of a subclass should not have different default values from those of the parent class?

The example code works if I add a parameter units = empty string.
This will result in the units being "dimensionless"

[2020-07-28 10:36] apdavison commented on #843
In general, I would agree with you, as it makes the behaviour more predictable. However, in this case we do not wish to use the same default value as `quantities` (i.e. dimensionless), we want to force the user to explicitly choose units. This is a central design decision of Neo, aimed at reducing errors in user code.

Yes, or alternatively `a = neo.AnalogSignal(signal * quantities.dimensionless,

[2020-07-28 10:36] #843 closed

[2020-08-02 11:59] shw3ta commented on #762
Any updates on this?

[2020-08-02 12:08] JuliaSprenger commented on #762
Hi @shw3ta! Thanks for the reminder about this.
The actual issue here is that `r.read()` returns a list of Block objects and not a single Block. So if you change line 8 of the example above to `bl = r.read()[0]` then you are actually extracting a neo Block and the example should run smoothly. Alternatively, you can also use the `r.read_block(...)` function instead as this one loads only a single b

[2020-08-02 12:38] shw3ta commented on #762
Thank you, @JuliaSprenger. I'm only just acquainted with neo, this suggestion helped.

[2020-08-04 18:14] PeterNSteinmetz opened #844 "nixio.py requiring version not in the PyPi repository"
nixio.py now requires nixio package at version 1.5.0 or higher. But the latest version in the PyPi repository is 1.4.9.

So using standard downloads, the tests for nixio fail.

[2020-08-05 11:53] shw3ta opened #845 "Loss of some metadata when converting from .abf to binary raw binary data using io.RawBinarySignalIO()"
While converting .abf to .raw using the RawBinarySignalIO() class, the header of the file that has been written to retains almost all the information, except for some info I need to be retained such as the signal channel units. Is there any way to fix this? I tried adding this missing info in the correct location in the header dict, but it doesn't work.

For comparison, here is the result of print

[2020-08-06 08:07] JuliaSprenger commented on #844
Hi @PeterNSteinmetz!
Thanks for the report. Which version of Neo are you working with? For version 0.8.0 and master nixio should only be installed upon request `pip install neo[nixio]` only. This way also beta versions of the nixio should be taken into consideration like the current nixio [1.5.0b6](https://pypi.org/project/nixio/1.5.0b6/).
To achieve the same when manually installing the nixio you

[2020-08-06 17:08] PeterNSteinmetz commented on #844
I am building neo from source using 'python setup.py build', with the latest tip of the master branch. I tried 'pip install --pre nixio' and it did not bring in the 1.5.0b6.

[2020-08-06 17:15] achilleas-k commented on #844
If nixio is already installed, you need to also specify `--upgrade`:
`pip install --upgrade --pre nixio`

Alternatively, you can specify the version with `pip install nixio==1.5.0b6`.

[2020-08-06 17:17] PeterNSteinmetz commented on #844
Thanks. The --upgrade did the trick.

[2020-08-06 17:17] #844 closed

[2020-08-19 15:33] bendichter commented on #424
@samuelgarcia

We'd like to offer conversion from smrx to NWB, and I think the best way to offer this would be:
SMRX -> NEO -> SpikeExtractors -> NWB

I was able to find some code to do this in MATLAB as part of the Brainstorm package [here](https://github.com/brainstorm-tools/brainstorm3/tree/b18a1bf642bf01b0c6745a30a8fc788bebb89375/external/CEDS64ML) in case that is useful.

I found a link for P

[2020-08-20 14:56] threefrenchhens commented on #777
Sorry for the slow reply. I still get the same error message... I installed
what I believe is the latest merge using:

pip install git+git://github.com/NeuralEnsemble/python-neo

Altgough it still says I have version 0.9.0.dev...

On Thu, 23 Jul 2020, 14:38 Garcia Samuel, <notifications@github.com> wrote:

[2020-08-24 09:46] samuelgarcia commented on #424
Hi ben.

2 independent answers:

  * For pure file conversion, in my mind the chain "SMRX -> NEO -> SpikeExtractors -> NWB" is not optimal. I think the
    "SMRX -> NEO -> NWB" would be better, the neo API is really more sophisticated than the spikeextractors layer.
   Neo handle : multi segment -aka pauses in recording- , multiple sampling rate, annotation, array annotaion, epch, event, ....
   T

[2020-08-24 09:48] samuelgarcia commented on #777
To be sure. Could you try `pip uninstall neo` and then `pip install git+git://github.com/NeuralEnsemble/python-neo` ?

[2020-08-24 16:54] bendichter commented on #424
@samuelgarcia

I agree, fewer steps in the conversion is better. I haven't been able to try out https://github.com/NeuralEnsemble/python-neo/pull/796 yet, but if that works for this use-case I agree that would be better, particularly since it supports more flexibility and types of data than SpikeInterface.

That being said, we also want to use SpikeInterface spike sorting pipelines on SMRX data, s

[2020-08-25 17:41] threefrenchhens commented on #777
Tried but still get the error...

On Mon, 24 Aug 2020, 10:49 Garcia Samuel, <notifications@github.com> wrote:

[2020-08-31 08:11] apdavison opened #847 "Check codebase for appropriate use of exceptions"

[2020-08-31 08:11] apdavison commented on #847
e.g. appropriate use of assert vs raising a specific exception

[2020-08-31 08:30] apdavison opened #848 "Remove warning about change of default group mode"
see #837

[2020-08-31 11:14] achilleas-k commented on #847
I see assert used in a lot of places in the library that I think is inappropriate.  Generally, I wouldn't use `assert` outside of tests.  For one they're removed if installed or run with the `-O` flag, so things like type check assertions would succeed when they should fail.

More importantly, given Neo is a library that people use to write their own scripts (i.e., it's not a runnable application)

[2020-09-03 11:16] samuelgarcia opened #850 "Depreciate neuralynxio_v1 and blackrockio_v4"
neuralynxio_v1 and blackrockio_v4 use ChannelIndex.
It will be a pain to make the change to go to Group/ChannelView right now.
Furthermore I don't think it will be usefull.

Since neo 0.9 will still have ChannelIndex I propose:
  * depreciate with a warning theses two IOs in 0.9 but keep ChannelIndex in them.
  * remove then when ChannelIndex will also be removed in 0.10

@JuliaSprenger @mdenker :

[2020-09-07 06:40] mdenker opened #852 "Support Quantity-like annotations when saving/loading .mat files"
Currently, the neomatlabio can save annotations of objects. If these annotations are a quantities object, they loose their units and only a classic `np.array` is retained. In contrast, object properties (e.g., `.t_start`) are saved as two annotations containing value and unit of a quantities object. This behavior of properties should be mirrored for annotations that are quantities objects.

To rep

[2020-09-07 07:05] samuelgarcia commented on #852
The miletones of 0.10.0 is a good choice :wink:

[2020-09-07 09:35] apdavison commented on #828
Implemented in #839

[2020-09-07 09:35] #828 closed

[2020-09-07 09:41] apdavison commented on #816
Fixed in #840

[2020-09-07 09:41] #816 closed

[2020-09-07 09:47] apdavison commented on #788
Principle of NEP + 1 year accepted during meeting on 07/09/2020

[2020-09-07 09:47] #788 closed

[2020-09-07 09:49] apdavison commented on #787
Hi @marcoistasy - please could you send us a test file, as discussed above? Then we can dig into it further.

[2020-09-07 09:56] apdavison commented on #768
Hi @xabiben - a quick reminder - please could you check whether @samuelgarcia's fix works for you? Many thanks.

[2020-09-07 10:09] #755 closed

[2020-09-07 10:27] JuliaSprenger commented on #500
Hi @achilleas-k
Any news on the support of empty annotations from the nix side?

[2020-09-07 10:28] #406 closed

[2020-09-07 15:38] jpgill86 opened #853 "Add tests for AxographIO for new signal_group_mode default"
As discussed [here](https://github.com/NeuralEnsemble/python-neo/pull/837#issuecomment-682377971).

[2020-09-07 15:40] jpgill86 commented on #853
I hope to work on this soon. Feel free to assign it to me; I don't have the privileges to do so.

[2020-09-09 08:25] arnaumanasanch opened #854 "Error: "Unable to parse units μV""
I am working with "*.smr" files from Spike2. Sometimes I get the following error: "Unable to parse units μV" so data is not loaded. Can anyone tell me how to solve this? I suppose it is because this "mu" greek character is not included in the type of available units in neo.Spike2IO. Kind regards.

[2020-09-09 12:38] achilleas-k commented on #500
Took me a while to remember what the situation was here.  As a reminder for myself and anyone else that might need this:

Currently the Neo NIXIO writes empty annotations with a string dtype because properties must always have a dtype:
https://github.com/NeuralEnsemble/python-neo/blob/4e903124e66123746da721211ea00dd70b99434b/neo/io/nixio.py#L1326-L1331

It uses the `definition` field of the proper

[2020-09-13 11:14] apdavison commented on #779
We could in principle handle this, but PickleIO is not expected to work across different versions, and I don't think we should encourage its use.

The docstring for PickleIO says:

"Note that files in this format may not be readable if using a different version
    of Neo to that used to create the file. It should therefore not be used for
    long-term storage, but rather for intermediate results

[2020-09-13 12:04] dizcza commented on #779
I would like to see a version control check while loading a file in neo using a file format that is not cross-version compatible.
If the current version of neo does not match with the neo version of the file I'm loading, show a warning.
In particular for PickleIO.

[2020-09-13 12:24] apdavison opened #856 "Add a warning when loading a file in a file format that is not cross-version compatible"
e.g. PickleIO, see #779

Could also add a warning when writing in such a format.

[2020-09-13 12:25] apdavison commented on #779
That's a good idea. I've created a ticket: #856

[2020-09-13 12:25] #779 closed

[2020-09-13 12:48] apdavison opened #857 "Consistent string formatting"
As part of the cleanup for v1.0 we should make the string formatting consistent across the code base.

Currently there is a mixture of `%` and `.format()`.

By that time, we should only be supporting versions of Python that support f-strings, so I would suggest we use those throughout.

[2020-09-13 13:53] apdavison commented on #762
#859 fixes the mistake in the example code from the core documentation, and adds a docstring to the `read()` method.

[2020-09-13 16:37] #624 closed

[2020-09-14 19:36] Helveg opened #860 "Grouping objects for hierarchy in simulated results"
Hi! I'm looking into the neo package to use in a project similar to PyNN and the bmtk; we generate various simulated signals that fit well into the available data objects. The Grouping objects however seem very focussed on the experimental side of things. There for example seem to be no grouping objects to clump together sets of AnalogSignals of neurons of let's say the same population.

I could f

[2020-09-14 20:13] apdavison commented on #860
If you're only recording from a single location per neuron (e.g. the soma) I would use a single, multi-channel AnalogSignal to store the signals from the entire population (1 neuron = 1 channel). If you're recording from many locations for each neuron (soma, dendrites, etc.) then you'd probably want one AnalogSignal per neuron (1 channel per recording location).

In this second scenario, what you

[2020-09-14 21:04] Helveg commented on #860
What a happy coincidence, that generic grouping object sounds like exactly what I was looking for :)

[2020-09-14 21:04] #860 closed

[2020-09-15 07:58] Helveg opened #861 "Unconventional installation recommendations in the docs"
The installation docs start out with

These are quite unconventional recommendations:
* You're installing python packages using the distro, which installs the package for the system Python installs. It is absolutely not recommended to use these system Pythons (python2.x and python3.x) yourself. Most users (should) have their own setup such as pyenv or virtual envs which these instructions will ign

[2020-09-15 08:09] Helveg opened #862 "Installation docs claim you can't install alpha or beta versions"
Sure they can :smiley: ! Just specify the alpha/beta semver:

    pip install neo==0.8.0a5
    pip install neo==0.8.0b0

I see that your project hasn't uploaded any, maybe that's why? https://pypi.org/project/neo/#history

Maybe to avoid making people think PyPI doesn't allow it:

[2020-09-15 08:13] Helveg commented on #861
Later on in the docs:

Python 2 has been given [the boot](https://www.python.org/doc/sunset-python-2/) and these instructions again condone bad practices. If you're going into so much detail for installations the instructions should be pristine and convey the latest standards. Which on Linux means staying away from the system installs and using your own Python 3 install. I'd leave off:

[2020-09-15 08:28] apdavison commented on #862
Last time I looked into this (more than 5 years ago) it was considered bad practice to upload non-final releases to PyPI, so we don't do so. We rarely make alpha/beta releases, in any case.

I think in this context, the implication "alpha and beta releases (of Neo) cannot be installed from PyPI" is clear enough.

[2020-09-15 08:28] #862 closed

[2020-09-15 08:33] samuelgarcia commented on #861
Dear Robin,
thank you for this feedback.
We are aware that the documentation is totally prehistoric at some corner.
Instllation is one of theses.
We have plan a total refactoring of the doc quite soon (before v1.0).

If you want to make short PR for this. Feel free we will merge then quickly.
Don't spent to much time in re writting because of the main doc refactoring.
In my mind I would like to us

[2020-09-17 08:19] samuelgarcia opened #864 "remove _default_group_mode_have_change_in_0_9 in BaseFromrawIO"
remove _default_group_mode_have_change_in_0_9 in BaseFromrawIO

[2020-09-17 12:54] madwilliam opened #865 "[NeuroScopeIO] NeuroScopeIO can not handle file with missing channels but NeuroScope can"
Hi all,
   I have some .dat files under the NeuroScope format for which some channel have been deleted for quality control.  I find that NeuroScopeIO  can not open these files while NeuroScope can with a warning.  I am wondering if it would be possible to add in a similar feature that allows NeuroScopeIO to handle files of this type.  Here is a picture of the error.

![Snipaste_2020-09-17_08-49-56

[2020-09-17 12:55] madwilliam commented on #865
I can change the section so that it skips the bad channels but I don't know if that will cause more problem down the line

[2020-09-17 13:08] phifisch opened #866 "Nix IO bloated file"
I want to save the results of my analysis scripts in a format that is more reliable in the future than a simple pickle file. As I understand that Nix is the best supported, I tried that, but it results in incredibly bloated files (not to mention that it takes hours to write them). To give you an idea: As a pickle file, it takes about 100 MB, in the neo .mat format it is 85 MB, whereas nix runs up

[2020-09-17 15:17] phifisch commented on #866
Thanks for the reply. Yes, both of these requirements are met. I used the neo commit 4e903124e66123746da721211ea00dd70b99434b (only 1 commit behind of current, which seems to be unrelated to this issue). I have one block with 85 segments with 1 AnalogSignal each.

[2020-09-17 15:59] JuliaSprenger commented on #866
@achilleas-k Any ideas for further improvements? Does the latest beta version including repacking / removing of unlinked data chunks already or would this be another potential source for the bloat?

[2020-09-17 16:16] achilleas-k commented on #866
Storage optimisation changes were included in v1.5.0b5.  From the description of the file (85 AnalogSignals) it seems like 8 GB is extremely large, even before we fixed the allocation issue.

The main source of the problem was metadata properties: Each annotation would be allocated much more space than it needed which resulted in the unnecessarily large files.  Is there a lot of metadata (annotati

[2020-09-18 08:58] phifisch commented on #866
Each of the segments' unique analogsignals has a few annotations, but not that many. To be precise it is something like
`{'boundaries': array([1173615, 1190863], dtype=int64), 'meanValue': 0.3989286825268318, 'samplingRate': 10000.0, 'numel': 17248}` .
I am not really familiar with the HDF5 format, but perhaps the API does some sort of duplicate key checking when writing, leading to a long duratio

[2020-09-18 09:39] achilleas-k commented on #866
The keys shouldn't be an issue, but the number of annotations might be.  In your first message you offered to create a minimal example to demonstrate.  I think that would help.  Perhaps there are some edge cases we haven't considered, or even something fundamental that I missed.

[2020-09-18 18:22] phifisch commented on #866
So, after testing several slices of data, IMHO there is something more fundamental going on, or perhaps I misunderstood how to use the IO properly. The chunks of data that are contained in each segment has the size 103488 data points (6x17248) of float64 type, resulting in about 800 KB per segment.
The block.annotations alone take up about 14 MB both as a nix- or mat-file. When we add a single seg

[2020-09-21 09:55] apdavison commented on #831
Hi @morales-gregorio I didn't read carefully enough, and didn't see your offer to create a PR until after I'd created one myself!

Please could you take a look at #867?

[2020-09-21 09:57] morales-gregorio commented on #831
No probs! I can have a look at the PR :)

[2020-09-21 12:05] apdavison commented on #745
The `RegionOfInterest` class and its subclasses, together with the `ImageSequence.signal_from_region()` method, are intended to provide such a mapping.

@rgutzen I guess for your use case, you would need:

1. a `PixelRegionOfInterest` or `PixelArrayRegionOfInterest` class
2. a flag for `signal_from_region()` to allow returning a multi-channel AnalogSignal rather than an average over pixels
3. supp

[2020-09-21 13:33] emelon8 opened #868 "NeuralynxIO questions"
Hi,

I have some questions about NeuralynxIO:

1. I noticed that blocks of the raw signal with less than 512 valid samples are discarded. Is there a reason for this? From my conversations with Neuralynx technical support, it seems that it would be better to keep all valid samples, even if they come from a chunk with fewer than 512 valid samples.

For questions 2 and 3, assume
[code]

2. Does `bloc

[2020-09-21 14:20] rgutzen commented on #745
The points you list would definitely be very helpful. Regarding that,
2. could there be a relation link indicating that within a neo segment an AnalogSignal was created from an ImageSequence?
3. when the geometry information are stored in RegionOfInterest could there also be a function to transform an AnalogSignal to an ImageSequence object?

[2020-09-21 15:03] apdavison commented on #854
Hi @arnaumanasanch. Please can you post the full error traceback, so we can figure out where in the code this error is occuring?

[2020-09-22 08:19] samuelgarcia commented on #868
I did the refactoring of the code but never use the neuralynxio that I don't have perfect knownledge on this.

1. I don't remember that we skip small blocks. @JuliaSprenger ?

2. AnalogSignal is responsible of the t_stop behavior. I think the actual behavior make sens. Have a look to this:

[code]

3. A segment can have several object analogsignal and events. I guess that some objects (event) are

[2020-09-22 08:31] arnaumanasanch commented on #854
Hi @apdavison , here is the traceback. I tried importing "logging" in the env but didn't work.  Thank you so much.
[code]

[2020-09-22 09:22] apdavison commented on #854
I think I have a solution, but I don't have a way to test it. Please could you send me privately* one of the .smr files that shows this problem?

*andrew.davison at cnrs.fr

[2020-09-22 10:20] apdavison commented on #854
Thanks for sending the example file. It turns out that the problem was already fixed in the master branch of Neo, so you can install from there (something like `pip install -U https://github.com/NeuralEnsemble/python-neo/archive/master.tar.gz`), or you could wait for the release of  v0.9.0, which is expected sometime in October.

[2020-09-22 11:06] #854 closed

[2020-09-22 11:10] arnaumanasanch commented on #854
Perfect, thanks. Now it works. Best,

[2020-09-22 12:25] achilleas-k commented on #866
I think I found the cause of the problem.  The NIXIO splits 2-dimensional signals into multiple 1-dimensional DataArrays.  It's a little difficult to describe the reasons in detail briefly, but generally it's done to keep the structure of the objects in the file _logically_ consistent with respect to how NIX handles tagging (points and/or regions of interest).
The split is done so that each DataAr

[2020-09-22 12:45] JuliaSprenger commented on #868
Hi @emelon8!
To answer question 1: As far as I know the file specifications for Neuralynx ncs files state that data blocks always contain 512 samples, see [this format specification](https://neuralynx.com/software/NeuralynxDataFileFormats.pdf). This is why we consider blocks with less samples as incomplete and potentially corrupted and ignore these to ensure only valid data is loaded. This implies

[2020-09-22 14:56] phifisch commented on #866
That is exactly what happened! And taking the transpose solves the issue. Now the size in the NIX format is in between the mat- and pickle-file (about 20% more than the matfile, which is fine). I was not aware that NEO makes assumptions about the array shape, let alone NIX.
If I understand you right, the change you were planning to do would solve this issue already anyways. In that case there is n

[2020-09-22 14:56] #866 closed

[2020-09-22 14:57] phifisch commented on #866
Not to forget, thanks a lot!

[2020-09-22 15:08] achilleas-k commented on #866
NIX itself doesn't make assumptions about the dimensions, the user sets defines the meaning of each dimension of an array, but since Neo does, the Neo-NIXIO relies on that assumption to set the dimensionality.

Great!

Happy to help!  :)

[2020-09-23 07:14] apdavison commented on #745
2. needs some thought. Could use annotations, or the new Group class.
3. that could perhaps be a method of `PixelArrayRegionOfInterest`, it doesn't really make sense for other ROI types, which will not in general cover the image field.

[2020-09-23 07:14] apdavison commented on #745
I think there's quite a lot of material here to cover, so I'm going to postpone until the next release.

[2020-09-23 07:40] apdavison commented on #749
I think this is an issue with the Neo tests, and the way `get_fake_values()` works, rather than with the `list_children_by_class()` method.

Example:
[code]

`ev2.array_annotations` --> `{'category': array([1, 2, 2, 1, 1])}`

I'll leave this open to check when we refactor the Neo testing framework.

[2020-09-23 09:27] dizcza commented on #856
What I mean in my original issue is not just a warning for non-cross-platform and non-cross-version neo IOs but adding the neo version while dumping the file. Then, if the neo version during the loading does not match, throw a warning:
[code]
This warning probably does not make sense for IOs like NixIO but it'd help for PickleIO.

[2020-09-23 10:19] achilleas-k commented on #856
The NixIO saves the Neo version into a top level metadata section.  It doesn't use that information for anything now, but it will certainly be useful if we ever want to support older versions, or throw warnings and errors.  I imagine it'll be required with the new ChannelIndex replacement objects.  Reading an older file with a newer library should probably try to load the old ChannelIndex objects

[2020-09-24 07:53] #831 closed

[2020-09-24 07:53] #861 closed

[2020-09-24 07:55] #762 closed

[2020-09-24 07:55] #757 closed

[2020-09-24 12:40] #799 closed

[2020-09-24 21:47] emelon8 commented on #868
Hi Julia and Samuel,

Thank you both for your detailed answers! Definitely makes me want to continue using Neo.

**Regarding Question 1**: When I was discussing the issue of data blocks with less than 512 valid samples with Neuralynx Support earlier this year, they sent me some sample MATLAB code one of their engineers wrote for how to deal with this problem, which I've edited for clarity and post

[2020-09-26 17:05] JuliaSprenger commented on #868
Hi @emelon8 ,
yes, in principle we can extent the NeuralynxIO to also include the samples of incomplete data blocks if you are sure that the Neuralynx Support confirmed that the existing samples of an incomplete block are always valid. Did they confirm that your case is not a special case and there might be other cases of incomplete blocks where the samples shouldn't be treated as valid?

[2020-09-28 03:53] sin-mike commented on #868
Hi Eric. I made this patch. The reason for the patch is keeping the consistency of the lazy (==memmap reading in the NLX case) interfaces in the reader without overheading in RAM. It is still possible to reconstruct valid patches, but I'm kind of away from the coding at the moment myself. You can also follow the discussion in PR #693.

The quick and RAMy solution would be to make a mask for each b

[2020-10-01 18:33] rgutzen opened #876 "ImageSequences image orientation"
Creating an ImageSequence object with the TiffIO currently defines the origin in the upper left corner of the image. This might be unintuitive for some users (including me).
To move the origin to the lower left the images could simply be flipped in the IO using the `PIL.Image.transpose(method=Image.FLIP_TOP_BOTTOM)` or the `numpy.flip(img, axis=-2)` function.
Or in the case that placing the origin

[2020-10-04 18:19] #853 closed

[2020-10-07 08:50] JuliaSprenger opened #878 "ChannelIndex parent of ImageSequence"
The current ImageSequence implementation is not listing channel_Index as a parent object or attribute https://github.com/NeuralEnsemble/python-neo/blob/593aff36e05fa3da44a3305073a67731145f7246/neo/core/imagesequence.py#L89
https://github.com/NeuralEnsemble/python-neo/blob/593aff36e05fa3da44a3305073a67731145f7246/neo/core/imagesequence.py#L90
However, indirectly this attribute is generated by inher

[2020-10-07 09:06] apdavison commented on #878
Is it causing problems? Since ChannelIndex will disappear in v0.10.0, does this need to be addressed?

[2020-10-07 14:53] JuliaSprenger commented on #878
No, it is just an inconsistency I came across when writing a ChannelIndex & Unit -> View & Group conversion (https://github.com/apdavison/python-neo/pull/3). We could either fix it for this release, but I think it might be coming with a number of follow-up changes required across the project.

[2020-10-07 18:07] emelon8 commented on #868
Hi @JuliaSprenger ,
The code that the Neuralynx engineer provided was not written for my particular case. It was just a MATLAB script for CSC data that contains incomplete records that was shared with me when I asked how to handle them in my analyses. I reached out to them again and they confirmed that we "can safely keep valid samples of a CSC record even though they are less than 512 samples."

[2020-10-07 19:50] samuelgarcia commented on #868
@emelon8
In the actual state the code is pretty fast : it can select relevant block because they have all the same size 512/
It it were not the case it would be more slow with some tricj like cumsum.
See https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/neuralynxrawio.py#L300-L323

If you have in mind a way to keep shorter block and keep the fast get_analogsignal_chunk, please pro

[2020-10-10 11:21] kurobaneHITOMI opened #880 "Is it possible to process spike2 data online?"
Now we would like to read spike2 data online and test our model. We want to read the data (for example the earliest 1024 points of a channel) into python array directly.  We found that CED has provided a python interface to spike2 filing system, but we still dont konw how to make it happen. Is it possible to use neo library to achieve this?

[2020-10-10 14:09] emelon8 commented on #868
@samuelgarcia
I dug into it more and found that the valid samples can be added at the end of each segment with some minor edits to neuralynxrawio.py. I created a pull request to make the necessary changes.

[2020-10-11 03:50] emelon8 commented on #868
It seems that my edits are failing the test in line 310 of test_neuralynxio.py. I wonder if the t_stops (8427.830803, 8487.768029, 8515.816549) that it compares nio._sigs_t_stop to in lines 309-310 need to be updated, because including the valid samples in the last record of a segment results in different t_stops than before.

[2020-10-12 08:15] JuliaSprenger commented on #880
Hi @kurobaneHITOMI,
if your question is whether Neo can be used to handle data streams during a recording, then the answer is unfortunately no, as Neo relies on having the complete dataset available.
Does this answer your question? Otherwise please clarify what you are trying to achieve exactly.

[2020-10-12 08:20] kurobaneHITOMI commented on #880
I see XD. Thanks for your answer!

[2020-10-12 08:20] #880 closed

[2020-10-12 08:39] samuelgarcia commented on #880
@kurobaneHITOMI : for online experiment with python, you should have a look to https://github.com/pyacq/pyacq
doc here https://pyacq.readthedocs.io/en/latest/

CED device is not implemented, but you could add it.

[2020-10-12 08:42] kurobaneHITOMI commented on #880
@samuelgarcia thanks for the recommendation!

[2020-10-12 13:49] JuliaSprenger opened #882 "Add support for BHV2 files"
This binary output format is generated by [monkeylogic](https://monkeylogic.nimh.nih.gov/) and used for task coordination. Event times and related parameters could be extracted and represented as neo.Events and neo.Epochs to easily relate these to neuronal data coming from other file formats. Here is the [official format specification](https://monkeylogic.nimh.nih.gov/docs_BHV2BinaryStructure.html

[2020-10-15 08:41] JuliaSprenger opened #883 "Missing 'array_annotate' method for ProxyDataObjects"
ProxyAnalogSignal objects provide an `annotate` method, but no corresponding `array_annotate` method. We should add this to make ProxyAnalogSignal objects as similar to AnalogSignal objects as possible.

[2020-10-22 12:34] #832 closed

[2020-10-22 12:35] samuelgarcia commented on #821
Maybe #873 is fixing this.
Could you try it please ?

[2020-10-28 10:53] JuliaSprenger commented on #787
Hi @marcoistasy! I am closing the issue for now. If you still want to provide a test file, feel free to leave another comment.

[2020-10-28 10:53] #787 closed

[2020-10-29 16:44] manimoh opened #889 "Allow certain Neuralynx files to be excluded from being read as a part of neuralyxRawIO"
Hi,
First of all, thank you for developing this wonderful tool! I had a suggestion for a feature that I believe will greatly benefit the project:
The way NeuralynxIO or NeuralynxRawIO seems to work is that it goes into a folder and then reads all the NCS files present in it and stores it in a  variable, unless that NCS file is empty (only has header). It would be great if we can have exclude flag

[2020-11-02 21:56] bendichter commented on #424
@samuelgarcia CED just released a pip-installable API: https://pypi.org/project/sonpy/

[2020-11-03 15:08] #850 closed

[2020-11-04 09:42] JuliaSprenger opened #894 "Add CircleCi configuration with different h5py version"
Originating in #893 it would be good to run the tests on CircleCi with `h5py >=3.0` and `h5py<3.0`, e.g. `h5py==2.6`.

[2020-11-04 12:52] samuelgarcia opened #895 "Improvement of rawio API and lazy object"
Here a list of rawio API that should enhanced:
  * for sig channel 'id' is now 'int64' but should be 'U' like other object
  * _get_analogsignal_chunk should deal with both global channel indices and local channel_indices
  * if a list (or array) of channel index is given and this list is continuous and ordered like [2,3,4]
    then create the equivalent slice for instance slice(2,5) to avoid copy

[2020-11-06 09:02] samuelgarcia opened #897 "nsdfio : remove write capability and and remove ChannelIndex"
The nsdf file format project seems to be not very active (weakly tested on py3).
It is a hdf5 based format.

The neo.io.NsdfIO:
  * support read and write.
  * support ChannelIndex

I propose to remove the ChannelIndex from this IO.
Only Block>Segment>AnalogSignal would be possible.

I also propose to remove the write_block and write_segment.
My guess is that very few user really need it.
Maintain

[2020-11-06 09:16] apdavison commented on #897
I don't think we should remove write capabilities before discussing this with the authors. I have some contacts with the lab which developed NSDF, so I will contact them to ask what they wish to do.

Since ChannelIndex is only deprecated in 0.9, I think it's ok to include the current implementation in the Neo 0.9 release, then update nsdfio after the release.

[2020-11-06 09:36] samuelgarcia commented on #897
For sure we need to discsuss for the nsdf team.
I already started a discussion in there repo here https://github.com/nsdf/nsdf/issues/48
Maintaining read/write is a lot of work when we have API change. We spent many many time on it.
If a neo.io implementation have very few users (and maintainers) it is hard to maintain for always read/write cycle across version.

I think I would prefer that CHanne

[2020-11-06 10:34] apdavison commented on #897
ok, so how about raising an exception when calling `write_block()`, etc., saying that these methods aren't available in Neo 0.9, and Neo 0.8 should be used if you need to write files with nsdfio.

This will make it easier to update write support later, rather than deleting the code entirely

[2020-11-06 15:37] JuliaSprenger opened #898 "Improve channel - groups of spiketrains (unit) relationship representation"
For file formats that contain information about the relationship between groups representing units this should be reflected in the neo file structure generated when reading the datablock. See also discussion in #817

[2020-11-06 15:56] JuliaSprenger opened #899 "Improvements for ChannelViews and Groups"
This is a list of todos and issues related to the introduction of ChannelViews and Groups (#817)

- [x] crosscheck ChannelIndex -> ChannelView & Group conversion:
  - [x] The current converter generates a 2-level group structure, but maybe it would be better to have a flat structure instead? -> we stick to 2 levels for now.
  - [x] Recheck 1ad87a85eb (see #901)
- issues copied from #817
  - [x] Re

[2020-11-06 20:56] JuliaSprenger commented on #500
Since there is a quick fix for this already existing, I am postponing the clean solution to the next release

[2020-11-06 21:03] JuliaSprenger commented on #456
Implemented in #817. :fireworks:

[2020-11-06 21:03] #456 closed

[2020-11-09 09:19] Christian-B opened #902 "Have to disable neo when running pylint"
We are currently running http://pylint.pycqa.org/ to check our code
Note: We are using a version <2.5 due to a bug in higher versions.

We it see a line:
spikes = neo.segments[0].spiketrains

It reports:
E1101: Instance of 'Block' has no 'segments' member (no-member)

This means we have to turn of the checking of neo
file .pylintc
[TYPECHECK]
ignored-modules = neo

[2020-11-09 10:26] JuliaSprenger commented on #821
I am closing this issue now. @ShirinNajdi Please comment again, if you are still interested.

[2020-11-09 10:26] #821 closed

[2020-11-09 10:31] JuliaSprenger commented on #768
I close this now. If you still experience issues, please reopen.

[2020-11-09 10:31] #768 closed

[2020-11-09 10:36] #732 closed

[2020-11-09 10:50] samuelgarcia opened #903 "Remove neo.io.nix_fr.NixIO and neo.rawio.NixRawIO"
NixIo have 2 implementations:
  * one non rescritive but without lazy, the "legacy one" : neo.io.nixio.NixIO
  * one rescritive, based on rawio but with lazy capability, the "rawio one" : neo.io.nixio_fr.NixIO

Having theses two classes is pain for maintenance and also for user.

Following th idea started in  #895 we should "create generic lazy object".
In short lazy object not only for rawio for

[2020-11-09 16:21] samuelgarcia commented on #811
I think this is important to put in 0.9 no ? Even with something very simple.
This is the last stuff. No ?

[2020-11-09 16:30] jpgill86 commented on #902
Hi @Christian-B, you probably want `blk.segments[0].spiketrains`, not `neo.segments[0].spiketrains`.

[2020-11-09 16:44] Christian-B commented on #902
No changing the variable name from "neo" to "blk" has no effect.

The problem is that the https://github.com/NeuralEnsemble/python-neo/blob/master/neo/core/block.py does not define that segment is a member in the standard python ways.

Yes I agree that when run a block does get a segment but Pylint does not work with code that depends on ducktyping.

[2020-11-09 16:53] dkfellows commented on #902
The core issue is that pylint can't do anything sensible with `getattr()`; it's totally defeated by it.

[2020-11-09 16:56] jpgill86 commented on #902
I'm not very familiar with Pylint; I guess I misunderstood, sorry about that!

[2020-11-09 17:56] #899 closed

[2020-11-09 17:57] apdavison commented on #897
see fa6b5582

[2020-11-09 17:57] #897 closed

[2020-11-12 09:39] achilleas-k commented on #903
Something similar to this existed before, right?  There was a lazy loading API for data objects that any IO could implement.  Is this a similar idea?

[2020-11-12 11:29] samuelgarcia commented on #903
No. Lazy objects were not existing before rawio layer.
The proposal is to extend then to non rawio also.

[2020-11-18 07:48] ohnopleasehelpme opened #906 "Random Issue with Neo"
Im using Neo in conjunction with SpikeInterface - so far I am unable to use Neo to open Neuralynx (.ncs) files:

import spikeinterface.extractors as se
import spikeinterface.toolkit as st
import spikeinterface.sorters as ss
import spikeinterface.comparison as sc
import spikeinterface.widgets as sw
import matplotlib.pylab as plt
import numpy as np
import neo
reader = neo.NeuralynxIO(dirname='~/Pych

[2020-11-18 08:04] samuelgarcia commented on #906
Hi  @ohnopleasehelpme
thanks for the report.
Could you send us a file that we could test.
if the file is small would you agree to make it public for our test suite ?

@PeterNSteinmetz: could we add something like `if 'datetime1_regex' in hpd:` in the actual PR you are working on ?

[2020-11-18 08:10] ohnopleasehelpme commented on #906
Sure! Can I send it by email?

[2020-11-18 08:11] ohnopleasehelpme commented on #906
Or - how would you prefer that I send it? Thank you!

[2020-11-18 08:12] samuelgarcia commented on #906
Maybe a drive like file sender would be ok.

[2020-11-18 08:18] ohnopleasehelpme commented on #906
How about through email? Google Drive?

[2020-11-18 08:43] JuliaSprenger commented on #906
Hi @ohnopleasehelpme.
Thanks for reporting the issue.
Best would be to upload the files to some place, e.g. Google Drive, and then send the link via email to samuel or me. See our account details for the addresses.

[2020-11-18 08:51] samuelgarcia commented on #906
I receive privarttle th file.
It is too big (220Mo) to put in the public files.
As the error seeams simple I propose to fix it either directly or in the PR #905 done by @PeterNSteinmetz

[2020-11-18 08:56] JuliaSprenger commented on #906
@samuelgarcia Ok, do you add a commit / comment in #905 for this?

[2020-11-18 15:01] PeterNSteinmetz commented on #906
@samuelgarcia @JuliaSprenger This may already be fixed in PR #905, though I am not sure. That error would arise if a file header does not have a Time Opened entry which matches current patterns, which seems a bit odd. So it would be good to have the test file.

It appears this has to do with the header, so if the larger file is still broken, we can truncate it to a few records and add to the test

[2020-11-18 15:44] PeterNSteinmetz opened #907 "[NeuralynxIO] Tests of keep_original_spike_times failing"
The tests in test_neuralyxio.test_keep_original_spike_times are failing for the test data in Cheetah_v5.5.1 on the .nse files.

It is not clear to me why these have been hidden previously, though that might have to do with the code which only ran the first two blocks of tests.

[2020-11-18 17:26] ohnopleasehelpme commented on #906
Hi Peter, go ahead! Please let me know if you need anything from my end too

[2020-11-18 17:30] ohnopleasehelpme commented on #906
Hi Julia - thank you for the heads up! I emailed my sample files to Dr. Garcia

[2020-11-18 18:40] PeterNSteinmetz commented on #906
Hi @ohnopleasehelpme . If you have the folder or file on Google Drive, perhaps share it with me. I am user peternsteinmetz@gmail.com there. Alternately DropBox could work. email for larger files over a few MB will often bounce eventually.

[2020-11-18 19:18] ohnopleasehelpme commented on #906
Hi Peter - sent!

[2020-11-18 21:55] PeterNSteinmetz commented on #906
Was able to obtain the test data from Google drive. There are actually two errors in the current code which prevent proper interpretation of these files. Described in more detail below, but the short point is that I have created a test dataset for this issue, fixes that allow correct interpretation, and tests of same.

@ohnopleasehelpme - May we have your permission to use portions of the files yo

[2020-11-19 08:34] samuelgarcia commented on #907
Hi Peter.
This test (test_keep_original_spike_times) was originaly done by @JuliaSprenger I think.
I think the idea was to compare the new implementation with an older implemenation.

For new files it do not make sens anymore.
We need to shortent the list for this specific test.

[2020-11-19 08:37] samuelgarcia commented on #906
Hi Peter.
Thank you for incorporating this fix in your PR.
It is OK to have everything in one big PR.

[2020-11-19 15:27] PeterNSteinmetz commented on #906
BTW, this sort of error may easily happen again, because we do not know the exact version numbers where Neuralynx made changes to the header and sampling frequency treatment occurred. We just have a set of ad-hoc rules that work on the extant test examples.

So I added a more informative set of error messages to contact the developers when this occurs, rather than just the search result object 'No

[2020-11-19 18:28] JuliaSprenger commented on #907
It's not comparing to an older implementation, but ensures that the flag 'keep_original_spike_times'  yields the identical spike times as present in the data files by comparing to a text file that contains the plain spike times. I would still keep the test as it is not outdated, but we should rather investigate the reason why the test is failing.
Surprisingly in #905 it is not failing any more and

[2020-11-19 18:57] PeterNSteinmetz commented on #907
I noticed that also in #905 and don’t understand exactly why it doesn’t fail.

For current work I have simply added an ignoretest. But this will need to be addressed.

[2020-11-19 19:27] samuelgarcia commented on #907
oups sorry for bad info so.

[2020-11-25 11:28] rjurkus opened #909 "IO for Neuropixels data"
There is a lot of interest in having an IO developed to load Neuropixels data. In the next few days we should have a small dataset that could be used for testing (SpikeGLX/Kilosort2/Phy). I think would be good to coordinate the development of prototype IO so that it fits Neo standard.

@samuelgarcia , I have a very basic loading routine for getting Kilosort2/Phy spike clusters into Neo, using a la

[2020-11-25 11:36] samuelgarcia commented on #909
Have you seen #896 ?
It is done. But the PR need to be reviewed.

And I have a small test files here :
https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/src/master/spikeglx

I will be happy with feedback.

[2020-11-25 11:42] samuelgarcia commented on #909
And about the kilosort/phy into we already have this in spikeextractor.
I want to port everyhting into neo.
Help will appreciated of course!!

[2020-11-25 13:21] Qkley commented on #909
@JuliaSprenger mentioned the SpikeGLX today. We will get some SpikeGLX files from the researcher which I could use to have a look at the implementation.
Regarding kilosort/phy perhaps we could combine forces and make a short (i.e. half-day) hackathon in December to work on the porting of the routines? Perhaps sometime during the week of the 7th of December or, failing that, a week later? We were d

[2020-11-25 13:46] samuelgarcia commented on #909
Cool. Give me feedback on implementation.
This format is quite simple.
My plan is to merge soon.
And then you will be able to improve it.

For the hackaton: yes yes and yes.
I would propose also spikeinterface team to join use.
@colehurwitz @alejoe91 would you join use ?

We could try to integrate in neo many sorters output : kilosrt1, kilosrt2, kilosrt2.5, spykingcircus, tridesclous, ironclust.
I

[2020-11-25 14:14] Qkley commented on #909
Regarding the hackathon, perhaps we should aim a bit smaller - just the kilosort and phy? I have not made an IO before so it would be a learning experience. Moreover, the researchers would be interested in joining too. I think this would be quite helpful, as, for example, we will need to figure out what exactly do we take from kilosort and phy outputs since I do not think that absolutely everythin

[2020-11-25 14:30] samuelgarcia commented on #909
No lets be ambitious.
Alessio and Cole never did neo.rawio.
You could all make one.
Julia+me could supervise and also make another one.

[2020-11-25 15:20] JuliaSprenger commented on #909
I agree with @Qkley, this might be a bit too ambitious, but we can start with the 5-parallel IOs plan and downscale if it doesn't work.

[2020-11-25 16:32] samuelgarcia commented on #909
No. No.
All the mentioned people are super super efficient dev.
For sure, the goal is manageable.

[2020-11-25 19:15] colehurwitz commented on #909
I would be happy to join the hackathon. I like the ambition!

[2020-11-25 19:25] samuelgarcia commented on #909
Cole : this is super cool.
Lets choose a date in private : I will send an email.

@alejoe91 would like also to join but he is a shy guy.
He need encouragement : Alessio, Alessio, Alessio!

[2020-11-25 19:35] alejoe91 commented on #909
Ahahah I'll join the hackathon too :)

[2020-11-26 08:10] JuliaSprenger opened #910 "RawIO improvements of annotations"
From #896 @samuelgarcia  (https://github.com/NeuralEnsemble/python-neo/pull/896/files#r530612518)

They are now global indexes and I would to introduce local (to stream) indexes in the APi to make dev more simple.

[2020-11-26 08:55] samuelgarcia commented on #910
This strongly link to #895

[2020-11-30 09:46] dizcza opened #912 "deepcopy is slow"
Neo DataObject has the `__deepcopy__` function, but it's slow, compared to cloning the array only:

[code]

[2020-12-01 13:01] JuliaSprenger opened #914 "Association of spiketrains & analogsignals"
With the current neo structure, groups can be used to link to `spiketrain`s and `analogsignals`, e.g. to associate data coming from the same recording electrode. However, this association is only accessible when starting from the group level and accessing data objects. It is not possible to navigate from a `spiketrai`n directly to the corresponding `analogsignal`.
The current workaround is to star

[2020-12-01 13:50] samuelgarcia commented on #914
I agree.
I must confess that I am not conviced by ChannelView...
For me the link AnalogSignal<>SpikeTrain is something very specific due to spike sorting case.
Maybe could be handle directly by a one-to-one relationship + specific key in array_annotation for channel mask.

[2020-12-01 13:58] Kleinjohann commented on #914
Thanks for opening this, I was about to bring it up, too.

To me, linking `SpikeTrain`s to `AnalogSignal`s is an important use-case. As of now, the only way to take full advantage of groups for this is to traverse the neo structure via `Block` --> `Group` --> `SpikeTrain` and to store the group, which does not seem straightforward and is actually not applicable if `SpikeTrain`s are accessed using

[2020-12-01 13:58] JuliaSprenger commented on #914
So you are suggesting, that instead of introducing again an 'uplink' from a `spiketrain` to a `group` object, this link could be directly to a sort of `channelview`. I think this should be rather explicit, than implicit as it was for the `channelindex`, so I think we can solve this without introducing a `channelview`-type object...

[2020-12-01 14:54] apdavison commented on #914
How about using [weak references](https://docs.python.org/3/library/weakref.html) for the uplinks?

[2020-12-01 15:52] jpgill86 commented on #914
And with this in mind: #684 😉

[2020-12-04 09:12] JuliaSprenger commented on #310
@achilleas-k I think with the last releases the issue of non-linear scaling for writing spiketrains has been adressed, right? But I still think that for systematic use of the NixIO for simulation data with thousands of spiketrains, the NixIO is not ideal. Are there any more ideas for improving the handling of such large numbers of spiketrain objects?

[2020-12-04 09:40] apdavison commented on #310
@JuliaSprenger I think that the proposed `SpikeTrainList` class should alleviate this problem, don't you think?

[2020-12-04 09:44] samuelgarcia commented on #310
Yes I think SpikeTrainList is really important.
Not only for format io but for memmory handling also.
And also for the main logic of Group object.
One Group for 512 channels AnalogSignal and 512 Group for 512 SpikeTrain is a bad apporach at the moment.

[2020-12-04 10:32] achilleas-k commented on #310
That indeed sounds like it would speed up reads/writes in NIX.  A single object write with a large amount of data is much much faster than creating multiple objects to split the data.

A side note: We can also stop splitting AnalogSignals soon which will speed that up as well.

[2020-12-07 14:32] samuelgarcia opened #921 "Create a yaml file for file downloading"
Like this.

This would centralise all download and help for caching in CircleCI.

[code]

[2020-12-09 17:58] PeterNSteinmetz commented on #895
Continuing the discussion here. Is there anything in the new definition of Group in Neo which requires they have the same sampling_rate/length_per_segment/t_start in each segment? I don't see that in the docs at https://neo.readthedocs.io/en/stable/api_reference.html#neo.core.Group .

Perhaps what is needed here is a new Object, could be a subclass of Group, particularized for this purpose? An Ana

[2020-12-09 19:37] samuelgarcia commented on #895
The group_id is only at rawio level (which is an internal API).
This group_id is not for a new object.
The main idea is that AnalogSignal is a **multi channel** object. So a 2D matrix (nsample, nchannel) that have one sampling rate and one t_start.
The group_id at neo.rawio level make an automatic machanism to create diferents multi channel AnalogSignal at layer neo.io (see neo.io.basefromraw modu

[2020-12-09 23:17] apdavison commented on #895
to clarify a bit further: `group_id` in rawio is not related in any way to the `Group` class. Is that correct @samuelgarcia ?

The `Group` class is a generic way to group any Neo objects except `Block`, with no other constraints about what can be in a` Group`

[2020-12-09 23:33] PeterNSteinmetz commented on #895
So maybe it should either be called something else, since group and groupid appear to be related. Or built as a separate class.

[2020-12-10 08:46] samuelgarcia commented on #895
Since it is internal to rawio we can call it sig_group_id or sig_group.

[2020-12-16 11:10] samuelgarcia opened #923 "SpikeGLX improvement"
#896 have implemented spikeglx reader

But SpikeGLXRawIO still need improvement that should be done in conjonction with spikeglx team:
  * better t_start handling
  * fine alignement between stream
  * ensure that all version (probe generation) are ok

[2020-12-17 09:37] JuliaSprenger commented on #923
For more details, see also https://github.com/NeuralEnsemble/python-neo/pull/896/files#r530494618

[2020-12-17 12:10] lbologna opened #924 "Reading .smr file: info"
Hello,

I am opening two different .smr files with the following code:

[code]

And I am getting the following output:

File 1:
[code]

File 2:
[code]

From the above data structure, one has to manually specify where the signals of interests are (e.g., in my case for V, the values in the 4rd position of every array for File 1, and the values in the 1st position of the first analog signal for File

[2021-01-02 00:26] PeterNSteinmetz commented on #895
So I am now at the point where I need to understand the intended return signature from _get_signal_size and _get_signal_t_start. Particularly when channel_indexes is some arbitrary slice or list of indices.

In most of the example RawIOs I have seen, the size and t_start is the same for all channels and they return a single number. But this is not really required by the definition of a core Segmen

[2021-01-14 14:32] jpgill86 opened #930 "[Doc] Lists of implemented formats for both IOs and RawIO not compiling"
These section links point to the two lists of implemented formats in the version 0.9.0 docs:

* https://neo.readthedocs.io/en/0.9.0/io.html#module-neo.io
* https://neo.readthedocs.io/en/0.9.0/rawio.html#module-neo.rawio

These appear to be no longer compiling in the latest version of the docs:

* https://neo.readthedocs.io/en/latest/io.html#module-neo.io
* https://neo.readthedocs.io/en/latest/rawi

[2021-01-14 14:33] jpgill86 opened #931 "[Docs] Lists of implemented formats not compiling"
These section links point to the two lists of implemented formats in the version 0.9.0 docs:

* https://neo.readthedocs.io/en/0.9.0/io.html#module-neo.io
* https://neo.readthedocs.io/en/0.9.0/rawio.html#module-neo.rawio

These appear to be no longer compiling in the latest version of the docs:

* https://neo.readthedocs.io/en/latest/io.html#module-neo.io
* https://neo.readthedocs.io/en/latest/rawi

[2021-01-14 14:34] jpgill86 commented on #931
Oops, I submitted the issue to GitHub twice. See #930. I'll close this one.

[2021-01-14 14:34] #931 closed

[2021-01-14 17:00] jpgill86 commented on #930
I see this in the [build log](https://readthedocs.org/api/v2/build/12717669.txt):

[code]

[2021-01-14 17:17] jpgill86 commented on #930
I see that in [`neo/rawio/`](https://github.com/NeuralEnsemble/python-neo/tree/4c4e018210704c29bace00638b6cb0f50d60d598/neo/rawio), there is both a [`neuralynxrawio.py`](https://github.com/NeuralEnsemble/python-neo/blob/4c4e018210704c29bace00638b6cb0f50d60d598/neo/rawio/neuralynxrawio.py), which the build log seems to be trying to import from and failing, as well as a [directory with the same name

[2021-01-14 17:28] jpgill86 commented on #930
Strangely, I'm not encountering problems building the docs locally, and the lists of implemented formats are building. Perhaps I have a different version of Sphinx installed, or some other package.

Regardless, it seems pretty clear from the ReadTheDocs build log that autodoc, which is responsible for assembling the lists, is being tripped up by the lack of a NeuralynxRawIO class in [`neo/rawio/ne

[2021-01-14 18:03] PeterNSteinmetz commented on #930
@jpgill86 I agree that the re-addition of that copy of neuralynxrawio.py above the directory is odd. If you want to do a pull request off of master which deletes that file, that would be good. I just tried setting that up and somehow when I try that, it creates a pull request with 102 commits, which is more complex than needed. Will likely take me a while to figure out what is going on with the br

[2021-01-14 18:24] jpgill86 commented on #930
Done: #933. We'll first need to see if that passes tests, and then it needs to be built on ReadTheDocs. Unless RTD is configured to build pull requests, which it probably isn't, #933 will need to be merged before we know if it helped with this issue.

[2021-01-18 17:32] jpgill86 commented on #930
#933 has been merged, but the lists of IOs and RawIOs are still failing to populate in the docs.

The ReadTheDocs log error has changed:

[code]

This new message is consistent with the facts that the previous log messages were suggesting autodoc was looking for the class `NeuralynxRawIO` in the empty module `neo/rawio/neuralynxrawio.py`, and now that file has been removed by #933. So, it's still

[2021-01-18 18:57] jpgill86 commented on #930
I think I found the problem: #934

[2021-01-19 14:23] jpgill86 commented on #930
Indeed, merging #934 fixed the docs. We're all set!

[2021-01-20 16:13] kohlerca opened #936 "`cut_segment_by_epoch` returns segment with wrong names when using data from NIX files"
Hello,

I am working with data read from a NIX file using NixIO, which also contain epochs for the individual trials.

However, when I cut the main segment using one epoch, the `nix_name` annotation in the resulting segment is the same as the `Epoch` object used to cut the data.

The code below reproduces the behavior with generated data.

[code]
The output is

[code]

One solution would be to sto

[2021-01-21 09:15] JuliaSprenger commented on #936
I @kohlerca,
thanks for raising the issue. That is indeed a tricky one as we need to weigh the user-friendliness of automatically copying the annotations from the source epoch to the segment against keeping the code general and not introducing extra rules just for the `nix_name` annotation.
With `cut_segment_by_epoch` being just a utility and not a core function I would tend to go for the latter a

[2021-01-21 09:47] samuelgarcia commented on #936
We could make this optional (True by default maybe False ?):
[code]
and remove nix_name hardcoded as you propose.

The revelant annoations are mostly this
[code]

[2021-01-21 13:39] JuliaSprenger commented on #936
@samuelgarcia Yes, having it handles by a keyword argument seems the best case.

[2021-01-26 11:57] JuliaSprenger opened #938 "Handling of `None `as default file location argument"
When a keyword argument is by default `None`, e.g. for filenames in IOs, then there are multiple options on how to deal with this default value later on. Two common approaches  to check the default condition are:
1) `bool(filename)`
2) `filename is None`
The second one is only considering `None` as default, whereas the first one also covers a wider range of objects, e.g. `''`, '[]`, as default val

[2021-01-26 12:06] samuelgarcia commented on #938
I vote for `filename is None|`

[2021-01-28 16:32] Kleinjohann opened #939 "`DataObject.rescale` creates unidirectional uplinks"
The segment uplink of the copied object is explicitly copied here:
https://github.com/NeuralEnsemble/python-neo/blob/da0565508dbc8b0722cb27ffe1efc33ecba58549/neo/core/dataobject.py#L286

I encountered this when running the in-place deletion of `elephant.spike_train_synchrony.Synchrotool` (in the current master branch of elephant but not yet in any release version). It relies on links being bidirec

[2021-01-29 07:16] samuelgarcia commented on #939
Hi Alexander.
I agree I would remove the `obj.segment = self.segment` in rescale.

[2021-01-29 13:49] shashwatsridhar opened #940 "BaseFromRaw.read_block(create_group_across_segment=True) fails due to multiple errors"
I ran the following code on a Blackrock dataset (`i40703-001-03.nev` - published [here](https://gin.g-node.org/INT/multielectrode_grasp/src/master/datasets):

[code]
and got the following error:

[code]
I also tried the following variation, by passing a dict instead of a bool to the argument:

[code]
which yielded the following error:

[code]

On fixing the two errors above, a third error occurs o

[2021-02-03 15:56] apdavison opened #942 "AsciiSignalIO still has signal_group_mode='split-all' as the default"
cf #837

[2021-02-16 17:28] #940 closed

[2021-02-17 15:45] bendichter opened #946 "request: reading a SpikeGadgets .rec files"
See https://github.com/LorenFrankLab/rec_to_binaries

[2021-02-17 17:06] samuelgarcia commented on #946
Hi Ben,
is there somewhere the spec of this file format ?
Do you have a small toy file you could send us ?

[2021-02-17 17:10] bendichter commented on #946
https://spikegadgets.com/downloads/system_manual.pdf

I'll see if I can a small file for development purposes.

[2021-02-17 18:11] samuelgarcia commented on #946
I look at doc but don't see where it explain the file format spec.
maybe with an example it will be easy code.

[2021-02-17 18:20] samuelgarcia commented on #946
I have read the code of rec_to_binaries.
It seems that it is a binary file with a text header at the beginiing.
I have some format mlike this neo yet. (WinEdr, ...)
Reading raw signals should be easy.
reading spike and associated waveform is often more tricky but e can start with the traces as prrof of concept.

[2021-02-17 18:25] bendichter commented on #946
I would care most about traces

On Wed, Feb 17, 2021, 1:20 PM Garcia Samuel <notifications@github.com>
wrote:

[2021-02-19 14:04] samuelgarcia opened #947 "Make new retriever for file testing from gin."
Actual implemention retrieve data with http for tesing IOs.
This is inherited by an old file repo from gnode before gin platform (with ftp deposit and http retrieve)

Because of that, we need to explicitly make a list of any file in folders that need to be downloaded, for each IO.
This is tedious and error prone.

two solution to avoid this:
  * make a index on al all files inside the gin repo. th

[2021-02-19 18:33] eduardacenteno opened #948 "Tried to open and 'old' (2015) .smr file and got Unicode Error"
When I tried to read / work with an old .smr file (from 2015), I got this error:
UnicodeDecodeError: 'ascii' codec can't decode byte 0x80 in position 23: ordinal not in range(128)
This was related to the line 519 of spike2rawio.py.

I was able to solve it by changing the labels = labels.astype('U') to labels = labels.astype('S')

[2021-02-19 19:05] samuelgarcia commented on #948
Hi Edourda.
I think this is already fix.

Could you update your neo package ?
`pip install --upgrade neo`

and if it still failling get neo from source with:
`pip uninstall neo`
`pip install https://github.com/NeuralEnsemble/python-neo/archive/master.zip`

and if this is still failing contact me by mail with file.

[2021-03-02 18:22] bendichter commented on #946
fyi @saksham20

[2021-03-03 09:09] samuelgarcia commented on #946
I made a PR on gin for the testing file here
https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/pulls/40

I will start the implementtation very soon.

[2021-03-03 09:47] samuelgarcia commented on #946
@bendichter
I have started something here :
https://github.com/samuelgarcia/python-neo/blob/spikegadgets_implementation/neo/rawio/spikegadgetsrawio.py

I will need more detail on the formatto continue the implementation.
  * dtype
  * gain/offset
  * does channel belong to same stream ?
  * signals si units

I will continue this later.

[2021-03-03 10:51] Saksham20 commented on #946
@samuelgarcia I'm with @ben trying to parse the .rec header+data for spikeextractors package.

- The info about header is available [here ](https://bitbucket.org/mkarlsso/trodes/wiki/Configuration)

- But the encoding/format of data that accompanies the header is still a mystery.  The trodes package [here](https://bitbucket.org/mkarlsso/trodes/wiki/ExportFunctions) has export functions that read t

[2021-03-03 11:20] samuelgarcia commented on #946
I think that it would be better to wait my neo implementation to be finish then the wrapper in spikeextractors would be 3 lines.

Could we have a call for this ?

[2021-03-03 11:21] samuelgarcia commented on #946
Thank you for info. I will have a look it jelp me a lot.

[2021-03-03 11:22] samuelgarcia commented on #946
Does the "XXXX.rec" file is supposed to contain also spikes ? or only analog and digital ?

[2021-03-03 11:50] Saksham20 commented on #946
I think there are just raw traces. The export functions available work on that to spit out LFP/unfiltered/spikes with the appropriate CLI arguments.

Yes, I'll wait for the your implementation on Neo, then I'll build the Spikeextractor on top of that.

[2021-03-03 11:52] samuelgarcia commented on #946
OK cool. I was confusing about another implementation in spikeextractor.
I have a proof of concept working stuff. But still have strange stuff.
The case "interleavedDataIDBit" in" analogsignal" is more tricky.

[2021-03-03 11:55] samuelgarcia commented on #946
@Saksham20 the doc you mention looks like other file that are named 'trodes'.
Is there similar doc for ".rec" files ? i am only reading rec file now.

[2021-03-03 16:06] Saksham20 commented on #946
@samuelgarcia
What encoding are you assuming for the data ?

I could not find any doc for .rec files that explains the data format. The one that I mentioned is only for the header, which you have implemented in your code.

[2021-03-05 10:40] samuelgarcia opened #955 "create generic lazy object (ouside rawio)"
The #494 do not implement this.
It must implemented outsside.

[2021-03-07 20:48] sbuergers opened #956 "Reading Axona data"
Hi,

### Reading Axona data

I am with CatalystNeuro and we want to build support for reading [Axona](http://space-memory-navigation.org/DacqUSBFileFormats.pdf) data files with python-neo, and then write a wrapper for [spikeextractors](https://github.com/catalystneuro/spikeextractors) using the python-neo implementation.

I can share some example files if requested.

I will start working on this h

[2021-03-08 07:44] samuelgarcia commented on #956
Hi Steffen,
yes make this rawio in neo is a good idea.
Then making the wrapper in spikeextractor will be super easy.
If the file is "raw" based the code should be super easy (if the header is not too complex)

I can help you. Do you have a small test example file that could be public ?
We need to deposite a testing public file [here ](https://gin.g-node.org/NeuralEnsemble/ephy_testing_data)

The b

[2021-03-08 18:49] sbuergers commented on #956
Hi Samuel,

Thanks for the support. We requested a small example file that could be made public. I will let you know once that is available.

[2021-03-15 18:08] CodyCBakerPhD opened #959 "Add support for multiple NcsSections - Neuralynx"
Hi there,

I'm working on converting a directory of 64 `.ncs` files through spikeextractors, but it errors out at these lines of the `rawio` code: [https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/neuralynxrawio/neuralynxrawio.py#L535-L537](https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/neuralynxrawio/neuralynxrawio.py#L535-L537)

Would it be possible to exten

[2021-03-15 19:10] samuelgarcia commented on #959
Hi Cody,
The format have many internal variant and sometimes there are some bugs.
@PeterNSteinmetz is more expert than me for this format maybe you could coordinate.
He is also make a PR than could solve your issue (I don't known):
https://github.com/NeuralEnsemble/python-neo/pull/957

If you have a small file that cause the bug that could be public it would be perfect for testing.

[2021-03-15 19:19] CodyCBakerPhD commented on #959
It looks like that PR might provide a roundabout fix if we can just loop through the files individually - the data I'm working on may not be open access but I'll see if I can find or make something else that can break it similarly.

[2021-03-15 19:43] PeterNSteinmetz commented on #959
I believe that error in spikeextractors is arising because the current NeuralynxRawIO does not create proper groupings for the files.

[2021-03-18 08:45] JuliaSprenger commented on #956
The files should be available now via https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/pulls/41

[2021-03-18 08:47] JuliaSprenger commented on #948
@eduardacenteno Did @samuelgarcia suggestions fix the issue? Tell us if you need more detailed instructions for the update.

[2021-03-18 08:51] #939 closed

[2021-03-18 09:34] samuelgarcia commented on #914
We decided to implemented SpikeTrainList first and then to come back to this.

[2021-03-18 09:37] #910 closed

[2021-03-18 09:39] samuelgarcia commented on #909
#896 Done.

[2021-03-18 09:39] #909 closed

[2021-03-18 09:40] samuelgarcia commented on #906
Is it solved ?

[2021-03-18 09:54] samuelgarcia opened #960 "array_annotations enhancement"
* multi dim ?
 * complex dtype ?

[2021-03-18 09:59] #895 closed

[2021-03-18 10:04] JuliaSprenger commented on #654
see #945

[2021-03-18 10:07] apdavison opened #961 "Remove ChannelIndex and Unit"
deprecated in 0.9, should be removed in 0.10

[2021-03-18 10:18] JuliaSprenger opened #962 "Move testing to pytest and github actions"
- [x] Currently Neo is running tests using nosetest. We should switch to pytest (solved in new github actions test setup)
- [x] Currently tests are run on Travis which will be commercial soon, so we should switch to github actions (solved by migrating to travis.com)

[2021-03-19 07:32] LudovicGardy opened #964 "Spike2IO. AssertionError: Signal channel have differents pause so diffrents nb_segment"
Good morning,

I'm trying to read some .smr files from Spike2. It's working for some of the files (that I got from someone else) but it's not for some others. I think the files that I can't open are those in which different channels are available (like raw signal + filtered signal + spikes). I'm just interested in the channels containing the raw signal, or analog signal, but I just can't open anyt

[2021-03-19 08:48] samuelgarcia commented on #964
When you channel are not symetric in spike2io you have to split then with:
`reader = neo.io.Spike2IO(filename=spike2_filepath, try_signal_grouping=False)`

[2021-03-19 09:12] LudovicGardy commented on #964
Hi Samuel, thanks a lot for your quick answer !

I tried and got the exact same error.

Actually, the error that I have happens at line 154 in spike2rawio.py, and _try_signal_grouping_ argument is called for the first time at line 266.

I tried to remove the following line (oups, I probably should not touch :'D)
`            assert np.all(all_nb_seg[0] == all_nb_seg), \
                'Signal cha

[2021-03-19 09:16] samuelgarcia commented on #964
Can you you send me th file ?

[2021-03-19 09:20] LudovicGardy commented on #964
Sure ! Thank you

[2021-03-19 16:21] PeterNSteinmetz commented on #906
I don't imagine it will be until #913 is merged.

[2021-03-22 12:40] sbuergers commented on #956
As I mentioned in https://github.com/NeuralEnsemble/python-neo/pull/958#issue-590891543, my first draft for the continuous axona data (considering only .set and .bin files) is ready for review.

However, I am not 100% sure what the best way is to also include spiking data, and ideally also LFP and position data, though I want to focus on spiking data for now.

This concerns the following data form

[2021-03-22 14:43] eduardacenteno commented on #948
Hey @JuliaSprenger @samuelgarcia ! Only today I had the time to check this again, sorry for the delay. I installed neo directly from github/setup.py but the issue persists. Now moving to line 566 (still the same code, though): labels = labels.astype('U')
I can send an example file if you'd like, but basically changing it to 'S' solves the issue.
![image](https://user-images.githubusercontent.com/4

[2021-03-22 14:47] eduardacenteno commented on #948
Hey @JuliaSprenger @samuelgarcia ! Only today I had the time to check this again, sorry for the delay. I installed neo directly from github/setup.py but the issue persists. Now moving to line 566 (still the same code, though): labels = labels.astype('U')
I can send an example file if you'd like, but basically changing it to 'S' solves the issue.

[2021-03-25 17:52] TomBugnon commented on #909
Hi all,
Thanks a lot for the SGLX reader implementation! Is there any progress (happening or to be expected) regarding support of kilosort/phy data?
Best, Tom

[2021-03-25 19:20] samuelgarcia commented on #909
Glade, it helps.
phyio have been merge https://github.com/NeuralEnsemble/python-neo/pull/928
phyio is the natural kilosort output.
You be able to usse it.

[2021-03-29 07:13] JuliaSprenger commented on #948
Status update: I reveived a test file and @samuelgarcia is having a look into this.

[2021-03-30 03:00] SAJinani opened #966 "AssertionError: Signal do not have the same sampling rate"
I want to read analog signals in a plx file with different sample rates (31250 KHz and 1250 KHz). However I'm getting this error : **AssertionError: Signal do not have the same sampling rate**
Is there a way to fix this or just to read analog signals of one sampling frequency only out of these two?

[2021-03-30 06:53] samuelgarcia commented on #966
At the moment, the reader handle only case were signal have the same sampling rate for plexon.
Maybe I could add an option to selec which channel we want to load. So you could one channel at once.

If the file is small could you send me ?

[2021-03-30 11:04] SAJinani commented on #966
The plx file that I'm trying to read right now is about 6GB. I tried reading it by commenting line 177 of File "/opt/anaconda3/envs/NEO2/lib/python3.9/site-packages/neo/rawio/plexonrawio.py".
It reads only a part of high sampling freq channel. Is there a way that I can read only the high sampling freq channel and the whole length of that signal only?
In my case; I just want Analogsignal with 31250

[2021-03-30 14:18] samuelgarcia commented on #966
I have started a fix here : https://github.com/NeuralEnsemble/python-neo/pull/967

[2021-04-08 20:12] CodyCBakerPhD commented on #959
TBH I've found in my own work on the Neuroscope format that `filename` operability is almost always safer than imposing some internal structure by `dirname`.

In that regard, [PR #957](https://github.com/NeuralEnsemble/python-neo/pull/957) does therefore provide a safer workaround for my use case, and in general is a perfectly simple solution when using these IO's through `spikeextractors`, since

[2021-04-12 15:52] #959 closed

[2021-04-12 15:57] PeterNSteinmetz opened #969 "Explanation of signal_stream concept"
@samuelgarcia It is still very unclear to me how this signal_stream concept and the former groups of channel_indexes are supposed to work / are related. The :TODO: for PR #949 is most needed here.

My prior understanding was that in the RawIO interface, groups of channel_indexes passed to methods like get_analog_signal_chunk had to have the same sampling rate (to be part of the same Segment as wel

[2021-04-12 17:11] samuelgarcia commented on #969
Yes the signal tsream is more explicit version of this : group of channel with same feqtures (sample rate/size/t_sart) that can be retrieve at the same time.

You can keep the same 'goup_id' as before but now it is renamed 'stream_id' (a string) for channel maps.
But each stream_id have to be declared in "signal_stream".

No "signal_channel" table have to be consistent with "signal_stream" table.

[2021-04-12 17:17] PeterNSteinmetz commented on #969
The ultimate target of this design is also unclear. The requirements for RawIO and what is necessary for BaseFromRaw to work should be made explicit. Particularly if not all RawIOs need to be compatible with BaseFromRaw.

One big item here is whether a RawIO stream must be the same over all Segments ? From what I can see, a BaseRawIO is allowed to have multiple Segments. By definition, that implie

[2021-04-12 17:28] PeterNSteinmetz commented on #969
At a higher level, the other reason this matters is in ephyviewer. Presently neoanalogsignalsources:get_analog_sources_by_suffix_from_neo_rawio uses the neorawio.get_group_signal_channel_indexes call. I guess that method is gone now?

If so, what will it be replaced by? Some sort of search on the stream_id for all the channels?

[2021-04-12 18:06] PeterNSteinmetz commented on #969
Just created PR #970 which has comments in the code on much of this.

I do think that if all the objects in a BaseRawIO are supposed to share a common clock that it may be best to deprecate the blocks and segments arguments to these functions and instead explicitly state that as a requirement for a BaseRawIO class. Otherwise, the BaseRawIO stream really should be for only one segment, not across a

[2021-04-15 21:59] CodyCBakerPhD opened #971 "scan_ncs_files() not lazy?"
@samuelgarcia @PeterNSteinmetz

Hello - as a follow up to the fix provided by [PR #957](https://github.com/NeuralEnsemble/python-neo/pull/957) which resolved the basic access issue raised in [Issue #959](https://github.com/NeuralEnsemble/python-neo/issues/959), I am noticing behavior similar to old [Issue #735](https://github.com/NeuralEnsemble/python-neo/issues/735).

Simple summary: I'm trying t

[2021-04-15 22:20] PeterNSteinmetz commented on #971
Not a new bug. This can likely be optimized. When the file does not appear to be one contiguous set of records due to gaps in the time stamps the start of every record in the file must be scanned to determine the appropriate segmenting of those records.

There may be a faster and more memory efficient way though I don’t see why the bits which are read should not be garbage collected.

This version

[2021-04-16 14:15] PeterNSteinmetz commented on #971
The new algorithm is more complicated to handle a bunch of different cases that arise with different programs generating these .Ncs files. Likely best to see the code and comments to understand them all, but in terms of the items addressed here by @samuelgarcia, here is a brief summary of the new algorithm.

First check the first and last record of the file (possible because records are fixed phys

[2021-04-20 13:23] bendichter commented on #971
So it sounds like in our case the algorithm is detecting multiple discontinuous segments? @CodyCBakerPhD, is that appropriate for the file you are reading?

[2021-04-20 17:53] PeterNSteinmetz commented on #971
Had a brief look at this and the memory from the files is loaded as a memmap. But if the record scan needs to take place, then a small object is created for the data at the start of each record and of course that data is loaded from the memmap. None of this is supposed to be retained however, so I would not expect a memory leak.

[2021-04-20 19:45] CodyCBakerPhD commented on #971
@PeterNSteinmetz I agree this should not be happening - the memory profiler was able to track the issue further down to the CscRecordHeader in [line #270](https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/neuralynxrawio/ncssections.py#L269) in the `_parseForMaxGap` function.

Attempting to delete the `hdr` object both in the for loop (after use) and outside fails to solve the issu

[2021-04-20 22:00] PeterNSteinmetz commented on #971
@JuliaSprenger Just pushed PR #973 which passes all tests and no longer creates any objects in the loop. Hopefully this will eliminate this apparent memory issue. @CodyCBakerPhD don't know if you can pull that directly and test for your use case?

[2021-04-20 23:03] CodyCBakerPhD commented on #971
@PeterNSteinmetz Yeah, I am able to pull from your fork for testing. The read performs significantly faster (not the biggest concern) but the memory issue is still there so more investigation will be needed. If @JuliaSprenger is able to replicate the issue that would probably be the most direct path to solving it as I don't have the best knowledge of these internal workings.

[2021-04-20 23:37] PeterNSteinmetz commented on #971
@CodyCBakerPhD This strikes me as puzzling. The code now creates one memmap per file. That is stored in the RawIO object for each file included. If the memory being used is proportional to the number of files open and deleting the IO object obviates the memory problem, that suggests that the memmap is not very well optimized or not unloading its cache properly.

If the solution cannot be found whi

[2021-04-20 23:55] PeterNSteinmetz commented on #971
@CodyCBakerPhD Can you send me one of the files in question? My email is ndoc3@steinmetz.org and we can work out details. I would like to have a look at the record structure and the headers. Or we can use a pull request on ephy_testing_data if you prefer.

[2021-04-21 01:26] CodyCBakerPhD commented on #971
@PeterNSteinmetz OK I've shared the private (non-public) data structure with you. Hopefully we can pin this down

[2021-04-21 01:46] PeterNSteinmetz commented on #971
@CodyCBakerPhD how do I access it? I would like to get a copy of one of the actual binary files under discussion.

[2021-04-21 07:07] apdavison opened #975 "Add validation to NWBIO.write()"
As a quality control step, we should run the [pynwb validator](https://pynwb.readthedocs.io/en/stable/validation.html) when writing an NWB file with NWBIO.

Since this might be slow, we might need to make this optional with a kwarg.

[2021-04-22 08:12] #654 closed

[2021-04-23 06:44] samuelgarcia opened #979 "many warnings in our test"
When I set tests on github actions saw many warnings.
We should fix then before any problems occurs.

[2021-04-23 13:11] sbuergers commented on #956
I created a new PR for including video tracking data of the animal's position in axonarawio.py: https://github.com/NeuralEnsemble/python-neo/pull/980#issue-622053179

In addition to ecephys data the Axona system saves video tracking data in the .bin files containing the raw data.
Each data packet contains a header, footer and 3 samples of ecephys data for each channel. The header includes a
flag,

[2021-04-23 15:45] bendichter commented on #424
@eduardacenteno is interested in working on this. See https://github.com/SpikeInterface/spikeextractors/blob/2881a5973f1648de665049868c8c800c1166c621/spikeextractors/extractors/cedextractors/utils.py#L54

[2021-04-26 09:58] samuelgarcia opened #981 "nixio==1.5.0 make test failing"
nixio 1.5.0 have been released on 15 april 2021.
Now neo/test/iotest/test_nixio.py is failing.
This block all other  PR.

[2021-04-26 10:08] samuelgarcia commented on #981
a fix is integrated in this PR https://github.com/NeuralEnsemble/python-neo/pull/978

[2021-04-27 17:08] PeterNSteinmetz opened #983 "How to obtain header information for a particular channel_index in a stream"
@samuelgarcia So using the new BaseRawIO interface with streams containing analog signals and those signals being indexed by a channel_index relative to a stream, how are we supposed to obtain the corresponding elements of the header['signal_channels'] array?

I was looking for a way to do this using the BaseRawIO API and it is not obvious. I need to do this to make the ephyviewer.datasource.neoso

[2021-04-27 18:19] samuelgarcia commented on #983
Hi Peter,
for ephyviewer have a look to the already started PR here https://github.com/NeuralEnsemble/ephyviewer/pull/151

Given a stream_id, to obtain corresponding header['signal_channels'] I use boolean mask like this
[code]

[2021-04-28 15:49] PeterNSteinmetz commented on #983
Hi Samuel, just created https://github.com/NeuralEnsemble/ephyviewer/pull/152 showing a slightly different approach.

And why not go to Neo 1.0 rather than 0.10 ? I always find that ugly and frankly this has been in use enough that 1.0 does not seem inappropriate.

[2021-04-29 07:48] samuelgarcia commented on #983
The plan was to make neo 1.0 two years ago.
But we are too slow.

We have a long list before this 1.0 grail:
  * merge AnalogSignal and irregularlySampleSignal
  * make a SpikeTrainList (or similar name)
  * rework the lazy object
  * implementation IOs from spikeextractors
  * totally rewrite the documentation with sphinx gallery
  * improve integration with NWB and NIX
  * clean very old code

[2021-04-29 15:42] PeterNSteinmetz commented on #983
I know if is just a matter of style with the numbering, but it does seem like Neo has been at a basic functional level for some time, which to me is a 1.0.

But then there is the Linux style of numbering...

[2021-04-29 15:42] #983 closed

[2021-05-05 14:24] JuliaSprenger opened #988 "Make fetching of test data via datalad more robust"
There's still a mechanismsmissing that makes sure deleted files are re-downloaded and local changes to existing files are reverted.

_Originally posted by @JuliaSprenger in https://github.com/NeuralEnsemble/python-neo/pull/984#discussion_r625005757_

[2021-05-26 07:17] samuelgarcia commented on #979
See this https://numpy.org/devdocs/release/1.20.0-notes.html#using-the-aliases-of-builtin-types-like-np-int-is-deprecated

We have several choice to replace np.int:
  1. int
  2. np.int_
  3. np.int32 or np.int64 depending the context and wanted precision.

Choice 1. et 2. don't change the behavior : the precission depend on the platform.

I would prefer choice 3. and fix the precision in the code

[2021-05-30 17:28] jpgill86 opened #992 "Motivation for the new signal streams?"
Hello!

After spending a lot of time reading closed issues, merged pull requests, and code, I am still uncertain I understand the motivation for the new concept of signal streams, which will be released with the upcoming version 0.10.0.

Prior to the introduction of signal streams, raw IOs had the capability to specify a `group_id` for each signal channel. With `signal_group_mode = "group-by-same-

[2021-05-31 08:34] samuelgarcia commented on #992
Salut Jeffrey,
yes indeed, this signal_tream is totally the replacement of this "group_id"  (same signal caracteristics).
But now there is explicitly a structure in header for that.

Main motivations for this:
  * handle annonations for this "streams" (aka group)
  * handle array_annotation. Needed for long time)
  * better API for other project that are "mono stream" (spikeinterface)

About the m

[2021-06-01 00:47] PeterNSteinmetz commented on #992
My view is that group_id is a somewhat better name and since the argument name is different than the names in the prior signature, that should work. If it is going to be changed, certainly should be done prior to the 0.10 release.

However, even more important than that name change, I think, is incorporating PR #970 which considerably clarifies this entire idea of grouping and makes it more explic

[2021-06-01 20:18] jpgill86 commented on #992
\*smacks forehead many times\*

I can't believe I overlooked @PeterNSteinmetz's issue (#969) and pull request (#970) on exactly this topic! I will check them out when I have more time. At a glance, it looks like this issue is redundant, so I will close it.

[2021-06-01 20:18] #992 closed

[2021-06-07 10:16] JuliaSprenger commented on #979
Hi @samuelgarcia.
Thanks for looking into the warning, the output is indeed very verbose currently.
Regarding your preferred choice option 3, we should be careful not not use np.int64 in places where it unnecessarily drastically increases memory usage. So a reader specific choice is also the best option in my mind.

Regarding options 1 and 2: Why would you go for the more verbose option of `np.int

[2021-06-07 10:44] samuelgarcia commented on #979
Hi Julia,
I propose you have a look to the PR and make comments case by case because it depends.
you will see #991

[2021-06-11 08:44] apdavison opened #999 "Add tests for multi stream in plexon"
cf #967, which fixed a bug but didn't have tests

[2021-06-11 13:33] #988 closed

[2021-06-18 08:27] #961 closed

[2021-06-18 08:54] #981 closed

[2021-06-18 08:56] samuelgarcia commented on #966
Closed by #967

[2021-06-18 08:56] #966 closed

[2021-06-18 08:58] samuelgarcia commented on #947
Closed by #984

[2021-06-18 08:58] #947 closed

[2021-06-18 08:59] samuelgarcia commented on #946
Will be closed by #954

[2021-06-18 09:10] samuelgarcia commented on #924
Hi Luca,
I don't I totally anderstand your question.

The actual way to handle channel loading on demand can be this one

[code]

Note that you can still use the old behavior of neo with even with lazy mode.
When we use to split each channel to a analogsignal like this

With
[code]
In that case you will get one lazy analogsignal per channel.

Does it help ?

[2021-06-18 09:10] samuelgarcia commented on #921
Not need anymore because we use datalad

[2021-06-18 09:10] #921 closed

[2021-06-18 09:12] samuelgarcia commented on #883
For next release I think no ?

[2021-06-18 09:15] samuelgarcia commented on #845
Unfortunatly the RawBinarySignalIO that handle binary neutral format don't have any way of dealing with metadata offcially.
In short the format itself do not handle anything.
sampling rate, channel count, units, gains, dtype have to be handle externally and explicitly.
So we can't do anything in neo.

[2021-06-18 09:15] #845 closed

[2021-06-18 09:55] JuliaSprenger commented on #883
It's not urgent, but would be good to fix at some point. Up to you ;)

[2021-06-18 09:58] JuliaSprenger commented on #845
@shw3ta if you are looking for a format to write to that preserves metadata you might want to look at the NixIO.

[2021-06-18 10:48] shw3ta commented on #845
Thank you, I did end up using NixIO.

[2021-06-21 09:51] JuliaSprenger opened #1002 "allow merging of spiketrainlists with arbitrary t_start and t_stop"
Currently times of spiketrain lists have to be identical for merging and an Error is raised in other cases. This should be extended to also work with non-identical times

I think a later one.

_Originally posted by @apdavison in https://github.com/NeuralEnsemble/python-neo/pull/1000#r654517205_

[2021-06-25 14:28] JuliaSprenger commented on #971
Hi @CodyCBakerPhD @PeterNSteinmetz I looked deeper into this issue and think it is related to some sort of caching mechanism triggered when using memmap. I opened a corresponding issue with numpy here: https://github.com/numpy/numpy/issues/19340

[2021-06-27 03:23] PeterNSteinmetz commented on #971
Yes, I suspected this was some issue with memmap. Best solution for speed will be to abandon memmap and instead read and write records directly to and from the binary file.

[2021-06-28 09:43] samuelgarcia opened #1003 "SpikeTrainList improvement"
* _add_spiketrainlist() : handle in better when there is an overlap between channel_ids
 * `append()` performence can be improve
 * `extend'()` performence can be improve
 *

[2021-06-28 11:34] samuelgarcia commented on #848
Done in #1004

[2021-06-28 11:47] #848 closed

[2021-06-30 09:57] JuliaSprenger opened #1006 "Introduce recommended identifier and name array_annotations for Analogsignal objects"
This might also help in the context of the association of channels to spiketrains / units.

For writing to some files these annotations might then be actually mandatory to be able to associate channels later on again.

[2021-06-30 10:04] JuliaSprenger opened #1007 "[NixIO] Use unique channel names / ids when writing to nix"
Currently all channels exported to a nix file are linked to name of the corresponding AnalogSignal name, which is not unique across channels. This should be fixed latest when introducing a new mapping between neo AnalogSignals and nix objects.

[2021-07-01 14:07] JuliaSprenger opened #1008 "[NixIO] Reading data from nix files is still slooooow"

[2021-07-05 07:44] samuelgarcia commented on #979
close by #991 and #1010

[2021-07-05 07:44] #979 closed

[2021-07-05 07:46] samuelgarcia commented on #948
close by #982

[2021-07-05 07:46] #948 closed

[2021-07-05 07:47] samuelgarcia commented on #969
Close by #970

[2021-07-05 07:47] #969 closed

[2021-07-05 07:48] samuelgarcia commented on #924
Can I close this ?

[2021-07-05 07:49] samuelgarcia commented on #838
Close by #977

[2021-07-05 07:49] #838 closed

[2021-07-05 07:53] samuelgarcia commented on #777
Hi all.
We have implemented CedIO (based on sonpy) that read both smrx and smr.
Could you try it on your files ?

[2021-07-05 07:55] samuelgarcia commented on #424
Close by #987

[2021-07-05 07:55] #424 closed

[2021-07-05 07:58] samuelgarcia commented on #453
I close this. feel free to re open if needed.

[2021-07-05 07:58] #453 closed

[2021-07-05 08:01] JuliaSprenger commented on #453
@samuelgarcia So you don't think that deepcopying of IOs will be possible with the current IO architecture?

[2021-07-05 08:02] samuelgarcia commented on #453
I don't think it is a need anymore.

[2021-07-05 08:08] #946 closed

[2021-07-06 08:47] JuliaSprenger commented on #795
Hi @NickHalper! Any updates about this in the meantime?

[2021-07-06 08:49] #962 closed

[2021-07-06 09:08] JuliaSprenger commented on #830
solved via #836

[2021-07-06 09:08] #830 closed

[2021-07-06 15:33] NickHalper commented on #795
Julia, I actually no longer work at Blackrock Microsystems, so I am not
sure of their current release schedule. Sorry about that!

On Tue, Jul 6, 2021 at 2:47 AM Julia Sprenger ***@***.***>
wrote:

[2021-07-07 07:09] JuliaSprenger commented on #795
@NickHalper Can you then maybe link someone else from the Blackrock team here?

[2021-07-07 13:31] legouee opened #1013 "Improvements to do for NWBIO"
This issue gives a list of all the improvements to be made for the NWBIO class.

- [ ] Have a mechanism which writes an AnalogSignal in a chunk mode to avoid a full load in memory otherwise it will be impossible to write big files to nwb.
- [ ] Handle the general case where len(module_path) isn't 2 (in `def get_class`).
- [ ] Move the function `def statistics(block)` to be a property of Block.
- [

[2021-07-07 15:06] #907 closed

[2021-07-08 09:01] JuliaSprenger commented on #868
This seems to be indirectly closed via #881

[2021-07-08 09:01] #868 closed

[2021-07-09 09:53] JuliaSprenger commented on #811
I don't think this will go into the next release as there is not enough time to implement and review it properly. @samuelgarcia @apdavison I suggest to postpone this to 0.11.0. even though it is labeled as blocker.

[2021-07-09 14:36] htwangtw commented on #777
Not OP, but tested `CedIO` on smrx file.
The analogue channels are loaded normally but event channels are not loaded.
The API seems to be inconsistent with the SpikeIO from 0.9.0?

[2021-07-09 14:43] kohlerca opened #1017 "Duration of time slices of an AnalogSignal differs when using or not lazy loading"
Hi All,

I am using `cut_segment_by_epoch` to extract trials from a Blackrock Microsystems dataset (`i140703-001.ns6` and `i140703-001.nev` publicly available [here](https://doi.gin.g-node.org/10.12751/g-node.f83565/)).

When cutting a fixed duration after the times defined in an `Event` object, the first dimension of the resulting `AnalogSignal` objects varies across the slices by 1 sample. This

[2021-07-11 11:15] Saksham20 opened #1019 "blackrock files loading error"
I have a set of blackrock .nev and .ns3 files that I load using the `BlackrockRecordingExtractor` but it seems the versions of the .nev and .ns3 files are different in the header. It throws the below error in the `BlackrockRawIO` class. Before questioning the integrity of the files in hand I wanted to know if there could be some fixes.  ns3 is version 2.1 and nev is 2.2. Loading only the nev (maki

[2021-07-12 09:10] JuliaSprenger commented on #1019
Hi @Saksham20, in principle you should be able to load individual Blackrock files using the `BlackrockRawIO`. If you just need  information from both files I would recommend loading them separately as loading files from different recording systems in one session will lead to inconsistencies at some point.
Or you receive an error that the scaling info is missing when trying to individual files from

[2021-07-14 12:58] Saksham20 commented on #1019
@JuliaSprenger , within the folder, there are two files with the same name but one is nev and other ns3. The `BlackrockIO` or the `BlackrockRawIO` are automatically looking for consistency between the two and throws the above error even if I enter only the .nev/nsx file to open.
[code]
same error. Only if I manually change the name of one of the files, then it loads each separately.

[2021-07-14 14:06] JuliaSprenger commented on #1019
Hi @Saksham20 if you want to load only one specific nev of nsx file you can use the `nev_override` and `nsx_override` arguments. I.e. to not automatically discover all files belonging to the session you could call `BlackrockIO('', nev_override='<myfile>.nev')` to only consider data from that specific nev file.

[2021-07-15 09:05] Saksham20 commented on #1019
@JuliaSprenger okay, that works.

[2021-07-16 08:55] #1019 closed

[2021-07-19 13:53] #936 closed

[2021-07-22 10:07] JuliaSprenger commented on #1013
additional open issues
- [ ] ensure global time across segments: https://github.com/NeuralEnsemble/python-neo/pull/796#discussion_r537093900
- [ ] clarify signal unit discussion: https://github.com/NeuralEnsemble/python-neo/pull/796#discussion_r537096034
- [ ] make loading of first block more efficient https://github.com/NeuralEnsemble/python-neo/pull/796#discussion_r662264527
- [ ] address open t

[2021-07-22 10:43] JuliaSprenger commented on #221
A first implementation is merged via #796

[2021-07-22 10:43] #221 closed

[2021-07-26 14:21] #956 closed

[2021-07-26 14:21] #924 closed

[2021-07-26 14:24] samuelgarcia commented on #906
I close this. Feel free to reopen if this is not fixed.

[2021-07-26 14:24] #906 closed

[2021-07-26 14:27] #878 closed

[2021-07-26 14:49] samuelgarcia commented on #749
get_fake_values was removed.

[2021-07-26 14:49] #749 closed

[2021-07-26 14:55] samuelgarcia commented on #529
I propose to close this now.

[2021-07-26 14:55] #529 closed

[2021-07-26 14:59] samuelgarcia commented on #387
Already impleemented. If not please re-open.

[2021-07-26 14:59] #387 closed

[2021-07-26 15:11] JuliaSprenger commented on #971
This will be fixed in #990, but has to be postponed to the a later version.

[2021-07-26 15:39] Christian-B commented on #529
Please explain the reason for closing this!

How was it fixed or is a choice to never fix this bug!

[2021-07-26 16:09] samuelgarcia commented on #529
This issue was pretty old.
Before evry release we clean some very quiete issue tyherads.
In my mind the solution of `io = PickleIO(filename="temp.pkl")` is the way to go.
Please re-open this issue if necessary.

[2021-07-26 16:13] apdavison commented on #529
on revisiting this, I think the problem is that in the example code the file was opened in text  mode, not binary.

It should be:
[code]

[2021-07-27 07:38] Christian-B commented on #529
The closed will not fix would have been a reasonable approach forcing the creator (in this case me) to argue why the issue was important even if old.

The answer from @apdavison was even better and I can confirm 100% correct.

Thanks!

[2021-08-31 20:02] sanjayankur31 opened #1024 "remaining `fake_neo` reference"
It's still referenced here:

https://github.com/NeuralEnsemble/python-neo/blob/bc6037048fc8d15919d51f2c67a4ab75df40dacc/doc/source/images/generate_diagram.py#L16

[2021-09-17 17:40] AntonioST opened #1028 "Neuropixels 2.0 support"
Hi all,

I recently used spikeinterface to preprocess my 4-shank neuropixels 2 data, but got a `ZeroDivisionError`.

[code]
According to the document from [SpikeGlx](https://billkarsh.github.io/SpikeGLX/help/imroTables/), the `AP band gain` and `LF band gain` value are not existed in  Neuropixels 2.0 (type 21 and 24).

[2021-09-20 07:32] samuelgarcia commented on #1028
Hi @AntonioST.
Coudl you send us a small folder with the new "meta" file and a very short version of the "bin".
So I could implement it.

[2021-09-20 12:15] AntonioST commented on #1028
Hi,

Here the attachment I use empty probe to record 1 second.

[TEST_20210920_0_g0.tar.gz](https://github.com/NeuralEnsemble/python-neo/files/7195567/TEST_20210920_0_g0.tar.gz)

[2021-09-20 12:17] samuelgarcia commented on #1028
Thank you very much.
I guess you agree that this file will be public and avaliable here : https://gin.g-node.org/NeuralEnsemble/ephy_testing_data

[2021-09-20 13:47] AntonioST commented on #1028
Yes.

[2021-09-22 17:41] Saksham20 opened #1029 "index error with a spikeglx neuropixels files"
When I try to open a set of imec.ap.bin/imec.ap.meta files I get this error (when I pass the folder in which only these two files are present):
[code]
The folder contains the files named:
P20180613/P20180613.imec.ap.bin
P20180613/P20180613.imec.ap.meta

Are the files expected to be in a specific naming format?

[2021-09-24 09:38] JuliaSprenger opened #1031 "Add binary file interface"
Many formats require only minimal information about header length, data format and channels to be readable. The binary interface is extracting these from a json sidecar file and allows to read the plain data in a memory mapped way. This should then be the basis of IOs that read binary data compatible with this description.

[2021-09-25 11:22] JuliaSprenger opened #1032 "GH actions fail"
Currently GH actions seems to fail to install a recent git-annex version that is compatible with datalad. @samuelgarcia any ideas what changed there?

[2021-09-26 04:03] tfoutz99 opened #1033 "Concatenate Analog Signals from Intan"
I have analogsignal data from Intan that I would like to concatenate. However, when I attempt to concatenate the second dataset is not concatenated. I do not get an error to indicate anything failed:

In [73]: a
Out[73]:
AnalogSignal with 20 channels of length 1800064; units uV; datatype float32
name: 'RHD2000 amplifier channel'
annotations: {'stream_id': '0'}
sampling rate: 30000.0 Hz
time: 0.0 s

[2021-09-27 11:29] tfoutz99 commented on #1033
Yes, that makes perfect sense. I had mistakenly thought that Neo had loaded my original timestamps. This solved my issue:

`b=b.time_shift(a.t_stop)`

[code]

Thank you!

[2021-09-27 11:29] #1033 closed

[2021-09-28 09:15] Saksham20 commented on #1029
if a folder only contains 1 of `.ap.bin` and `.meta` file without the tags of `'*.g0_t0.imec0*ap.in'` in the file name, then would it make sense to assume only 1 segment and stream?
Currently the header pulls the segment and stream from the file name [like here](https://github.com/NeuralEnsemble/python-neo/blob/master/neo/rawio/spikeglxrawio.py#L220) .I'm not sure if the above mentioned file namin

[2021-09-28 10:55] samuelgarcia commented on #1029
Yes of course.
We have to change this and add any pattern which is possible.
Can you make a PR ?

[2021-09-29 10:22] #1032 closed

[2021-10-11 01:56] TheChymera opened #1037 "446 tests fail with neo-0.10.0"
This is the full build and test log: https://ppb.chymera.eu/f0c5ba.log
I assume some failures at least are due to network access (is there any way to easily skip tests which require network access), and some due to missing dependencies.

One thing I spotted is ipython — this is an interactive shell. Is any functionality of python-neo really dependent on an *interactive* Python shell?

[2021-10-11 19:09] manimoh opened #1038 "Support for multiple Sampling rates for Neuralynx Recordings"
Currently the NeuralynxRawIO.py doesn't support sessions where there are continuously sampled files with multiple sampling rates. Is there a plan to add this feature in the next release?

[2021-10-11 21:38] TheChymera commented on #1037
Hi @samuelgarcia thank you for looking into this! The way many packages do this is that they either:
1. have an environment variable such as `PACKAGENAME_TESTS_NONETWORK` (datalad for instance uses `DATALAD_TESTS_NONETWORK`)
2. mark the tests with e.g. `@pytest.mark.network` so that they can be deselected when running pytest via `pytest -m "not network"`.

[2021-10-12 06:34] samuelgarcia commented on #1037
OK
I put that on my todo list.
I won't do it immediatly because I am a bit busy next 3 weeks but will do it soon.

[2021-10-12 07:35] samuelgarcia commented on #1038
@PeterNSteinmetz @JuliaSprenger : any knwoledge on how neuralynx handle multi sample rate ?
In my mind the rate was global and not per channel.

[2021-10-12 07:58] morales-gregorio opened #1039 "AnalogSignal transpose breaks array annotations"
Hi!

I just noticed that it is quite useful to use a transpose to do some array operations with numpy and neo.AnalogSignal, but that breaks the `array_annotations` completely.

I was wondering if it would be desirable to wrap the numpy function (when doing `anasig.T`, or `anasig.transpose()`) so the `array_annotations` also get transposed and are not lost. What do you think?

Best,
Aitor

[2021-10-12 13:23] manimoh commented on #1038
Of course! And thank you along with all the other creators of this wonderful tool!

I also emailed the files to you - let me know if you need something else!

[2021-10-13 02:22] PeterNSteinmetz commented on #1038
This feature could be implemented at the Neo IO core level, which is likely the most appropriate. It could also be implemented by SpikeInterface making different calls onto the RawIO classes. Really a question for @samuelgarcia or @JuliaSprenger.

I have worked mostly on the NeuralynxRawIO and getting it to work with the different variety of Neuralynx files. If you need something in the shorter te

[2021-10-13 07:16] JuliaSprenger commented on #1039
Alternatively you can also use scipys detrend function and explicitely generate a new copy of the analogsignal to preserve the metadata

```a_without_mean = a.duplicate_with_new_data(scipy.signal.detrend(a, axis=1, type='constant'))```

[2021-10-15 04:06] PeterNSteinmetz commented on #1038
For immediate use, I would suggest modifying your code to make calls directly using the RawIO.NeuralynxRawIO class. You can construct as many of these objects as you need to accommodate the differing sampling rate groups of files.

[2021-10-18 13:38] morales-gregorio commented on #1039
Yes yes indeed.

I opened this issue mainly because I thought that transposing arrays is fairly common and that a newer user to neo would struggle to understand what happened to the array_annotations. If you still think that `AnalogSignals` should never be transposed, I would suggest at least raising a warning to let the user know that this operation deletes the array_annotations.

[2021-10-20 13:08] manimoh commented on #1038
Another use case for multiple sampling rates is that there are experiments (including ours) which use real time spectral analysis and sometimes that software that does this doesn't play well with the wideband sampling that is needed for Automatic spike sorting. In this case, we physically copy the required signals on the acquisition box to an unused input channel on the box and this copied signal

[2021-10-25 09:37] TheChymera opened #1042 "`OSError: ncs files have 2 different sections structures. Unsupported` for `neo.io.NeuralynxIO`"
Background:
Following the previous issue https://github.com/NeuralEnsemble/python-neo/issues/1038 regarding different sampling rates, we have decided to temporarily remove the differently sampled data (`WE*.ncs`) in order to bridge this solution pending https://github.com/NeuralEnsemble/python-neo/pull/1041 .

After curtailing the original archive:

[code]

to:

[code]

We get the following error:

[2021-10-27 00:16] easy-electrophysiology opened #1044 "AxonIO segment vs. analogsignals t_start, t_stop"
For nearly files loaded with AxonIO (and other modules) with 1-2 data channels in which each segment is a unique sweep, the block.segments[2].t_start / t_stop match exactly the block.segments[2].analogsignals[0].t_start / t_stop.

However we have seen that for a very small number of .ABF files, these two times do not match. Often segments t_start is always 0 or t_stop is the final segments stop ti

[2021-10-30 09:53] JuliaSprenger commented on #1042
It seems like your LFP files, even though they have the same sampling rate as the CSC files, have an offset of 15 us. That's why neo can handle them in the same stream as the CSC files. If you also exclude LFP files you should be able to load the data.

[2021-10-31 13:32] TheChymera commented on #1042
@JuliaSprenger So excluding the LFP files via the new `exclude_filename` parameter will still load all data? That's what I described doing in the last post, but I thought that automatically exludes that part of the data from the resulting object — or am I mistaken?

[2021-11-02 10:12] JuliaSprenger commented on #1042
Hi @TheChymera Sorry, I missed that you already excluded not only `WE*` files, but also `LFP*` files.
Of course you are only loading data files, that are not explicitly excluded. However, for now you can use the exclude mechanism to load CSC and LFP and WE files using dedicated instances of the NeuralynxIO, to still get access to all sampes. I will update #1041 to also deal with data with same sam

[2021-11-02 18:25] easy-electrophysiology commented on #1044
That makes sense, thanks for your help

[2021-11-03 16:06] AntonioST commented on #1028
1. Sorry I don't have 1 shank NP2 files now.
2. the distance between the shanks is 250 um.

[2021-11-04 12:58] bjrnfrdnnd commented on #964
any news about that? I get the exact same error

[2021-11-04 17:45] TheChymera opened #1046 "`TypeError: get_spike_raw_waveforms() got an unexpected keyword argument 'unit_index'` error from Neuralynx reader"
Passing a `unit_index` argument to a `neo.io.NeuralynxIO` object:

[code]

I get the following error:

[code]

Looking at the code however, it seems this attribute exists: https://github.com/NeuralEnsemble/python-neo/blob/d786a0b2e8542a333b887e8892b99366bb1a2ffb/neo/rawio/neuralynxrawio/neuralynxrawio.py#L521

Any idea what I'm doing wrong?

[2021-11-07 21:06] elfring opened #1047 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

Would you like to integrate anything from a transformation result which c

[2021-11-08 09:15] #1044 closed

[2021-11-08 09:26] samuelgarcia commented on #1046
It is now `spike_channel_index` instead of `unit_index`

[2021-11-11 20:50] TheChymera commented on #1046
@samuelgarcia thank you, that solved the isssue.

[2021-11-11 20:50] #1046 closed

[2021-11-17 23:00] easy-electrophysiology opened #1050 "Adding HEKA loading module"
We have recently released a python module for loading HEKA filetypes (https://github.com/easy-electrophysiology/load-heka-python). Currently HEKA loading is available in Neo through the Stimfit module, though a couple of benefits of this python module is that avoids any problems with compiling stimfit, and handles some more recent versions of the HEKA filetype. It also supports lazy loading so can

[2021-11-18 08:28] samuelgarcia commented on #1050
If you implement this at rawio level.
All the `read_block()` will automatic at neo.io level thanks to `BaseFromraw`
See https://github.com/NeuralEnsemble/python-neo/blob/master/neo/io/basefromrawio.py
For instance for spike2io here is the wrapper https://github.com/NeuralEnsemble/python-neo/blob/master/neo/io/spike2io.py.
Super simple.

In  `BaseFromrawread_block()` you have the selection by `bloc

[2021-11-25 14:54] pnm4sfix commented on #964
I had this error message with older versions of neo (0.8.0 i i think) and some older versions of spike2 files and I think the issue stemmed from the size of the variable interval used to check for gaps. For some reason there seemed to be a 'dropped' data point in some of these older spike2 files and doubling the interval that is used to check for gaps seemed to solve the problem. Try adding this l

[2021-11-25 15:16] JuliaSprenger commented on #964
@samuelgarcia Did you receive the file by @LudovicGardy ?

[2021-11-25 17:26] samuelgarcia commented on #964
Yes. I get the file. I tested it and the case was more complicated that it looks like.
Maybe this simple trick is enough.
@pnm4sfix : `interval = intervael * 2` is a lot does it also work with `1.5` ?

[2021-11-25 17:27] samuelgarcia commented on #964
Or maybe we could add a parameters for this tolerance in gap detection.

[2021-11-26 11:21] pnm4sfix commented on #964
I'll try and dig out the old file and give it a go-  is interval equivalent to sampling interval? Also on a side note- I'm working from Windows and the developers guide is unix specific - is there anything I'd need to do different to contribute from windows? big fan of neo but looking to expand some of the image sequence functionality for calcium imaging analysis

[2021-12-16 23:42] miketrumpis opened #1055 "Bug in openephys raw io"
I just tried loading open ephys .continuous (legacy) data through spikeinterface, which calls into neo, and hit this snag. Just on the face, these two lines are probably not what the author had in mind. The `return_index` option returns indices into the argument array `chan_streams_id`, which is the length of all the processor channels. However, those indices are fed into the unique subset array `

[2021-12-17 07:34] samuelgarcia commented on #1055
I think I did this but I don't rember why, this looks super weird!!
And there are other bug on this IO I really must have to fix it soon.

[2022-01-05 22:43] miketrumpis commented on #1055
FYI my suggestion doesn't make sense either ;) That looks like it would just give you back the original order.

However, things seem to be working if I comment out the line 176 and call with the `stream_id='CH'` option.

[code]

[2022-01-08 21:04] miketrumpis commented on #1055
I made a fork with this (very simple) change -- can I PR?

[2022-01-12 15:26] shashwatsridhar opened #1059 "Spike data support for OpenEphysBinaryRawIO"
Hey,

I was looking for a neo IO class which supports a) lazy loading / memory efficient loading, and b) reading AND writing neo blocks. The openephysbinaryrawio class comes close, but is still missing support for spiking data (according to [this](https://github.com/NeuralEnsemble/python-neo/blob/34d4db8fb0dc950dbbc6defd7fb75e99ea877286/neo/rawio/openephysbinaryrawio.py#L143) line), which I defini

[2022-01-12 18:07] shashwatsridhar commented on #1059
Noice, thanks Julia! I'll test and expand on your fork when I find some time.

[2022-01-12 20:29] samuelgarcia commented on #1055
@JuliaSprenger @miketrumpis : I will be back on this soon!!

[2022-01-13 09:52] JulesGranget opened #1060 "Open neuralynx (.ncs), events (.mrk, .nev) in neo"
Hi !
I wanted to open some .ncs files and events files attached that I have in a folder. I knew that neo could do it so I tried with it and gave the name of my folder as follow :

reader = neo.io.NeuralynxIO(dirname=path_dirname)

But I got this error message :

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "D:\Anaconda3\lib\site-packages\neo\io\neuralynxio.py", l

[2022-01-13 10:25] JuliaSprenger commented on #1060
Hi @JulesGranget
It seems like the file header does not contain the filename in the expected format. Probably your file version has not been tested with neo yet. Could you provide (ideally a small) a test file for me to test this locally?

[2022-01-13 11:13] JulesGranget commented on #1060
Thanks a lot for your answer ! I tried to drag and drop files here but I wasn't able to do it... How can I send you the files ?

[2022-01-13 11:25] JuliaSprenger commented on #1060
You can, depending on the file size, either send them directly via mail to me or upload them on a file sharing platform and send me the link via mail.

[2022-01-13 11:34] JulesGranget commented on #1060
I sent you the files by email !

[2022-01-13 15:03] JuliaSprenger commented on #1060
@JulesGranget Thanks, I will have a look at them as soon as possible.

[2022-01-14 16:15] bendichter opened #1061 "open ephys reader: capitalization of Experiment"
I am trying to use the oephys reader through spikeinterface and getting the following error

[code]

It looks like NEO is assuming that "experiment" will be lower case and it is upper case here. I'm not sure how common this is, but I feel like it wouldn't hurt to handle this case.

[2022-01-15 16:56] bjrnfrdnnd commented on #964
Any news on that? I am working on a mac m1 on neo 0.10.0. I am getting the exact same error.I inserted a line 129:
`interval = 2*interval`
and
`interval = 20*interval`

In both cases,the error remains the same.

[2022-01-17 07:53] samuelgarcia commented on #964
Not yet on this. Sorry I try my best to fix this soon.

[2022-01-18 15:36] #1061 closed

[2022-01-24 08:20] rgutzen opened #1064 "change in loaded annotation with Spike2IO from version 0.9.0 to 0.10.0"
When loading data from a .smr file with the Spike2IO to (for example from https://doi.org/10.25493/ANF9-EG3), in the upgrade from neo version 0.9.0 to 0.10.0 many of the annotations and array annotations are lost.
[code]
[code]
[code]

[2022-01-24 08:40] samuelgarcia commented on #1064
'physical_channel_index' became array annotation and became 'phy_chan' apparently. I don't remember why.
'file_origin' will be at segment or block level I think.
'channel_names' and 'channel_ids' are still here.
For the 'comment' I don't remember. It look strange to have a comment by channel (so array annotation). Did you have 'comment' at channel level before ?

[2022-01-24 09:40] rgutzen commented on #1064
Ah ok, so this is the new expected behavior?
At least for the files I worked with the comment entry for the analogsignal channels was empty.

[2022-01-24 10:01] samuelgarcia commented on #1064
I don't known exactly if this is expected or not.
This new version made a refactoring to handle array_annotation at rawio level and so affected almost all IOs about annotations.
The new way is normaly better because the routing between scalar annotation and array annoation was bad.
For instance 'physical_channel_index' was supposed to be array annoation. I guess that this 'comment' key was there b

[2022-01-25 19:20] bendichter opened #1065 "circular import error on master branch"
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
/tmp/ipykernel_469/1217768234.py in <module>
      9 )
     10 from nwb_conversion_tools.utils.conversion_tools import get_module
---> 11 from spikeinterface.extractors import read_spikeglx, read_openephys
     12
     13 import pynwb

/opt/conda/l

[2022-01-25 20:04] JuliaSprenger commented on #1065
Hi @bendichter! Thanks for reporting this. I can't reproduce the error on my side and think that the line numbers in the neo modules are actually not matching the current master branch. Are you sure you have a clean neo installation? It looks like this might be a `master` version from before May 2021 (84952cd2c588c337d8520f4833892e409b9ba00e).

[2022-01-28 16:08] 3man1992 opened #1066 "Improve tutorials and guidance for conversion of neuralynx .ncs to numpy arrays"
Neo has a function NeuralynxIO that ingests a directory of .ncs files and converts into a Neo object. I can't seem to understand how to convert this neo object into a set of numpy arrays. I'm trying to achieve a matrix of (n_sample, n_channel). Please can you provide some example code or an example script to do this.

[2022-01-31 08:09] samuelgarcia commented on #1066
Hi,
Our doc is not perfect but you should have a look to:
https://neo.readthedocs.io/en/stable/core.html
https://neo.readthedocs.io/en/stable/io.html

[code]

have nice coding.

[2022-02-04 09:57] JuliaSprenger commented on #1060
Hi @JulesGranget I tested your files and can successfully load them using the Neo master branch. It seems like the continuous signals and events are loaded correctly, only the `mrk` file is not supported by the IO and I also don't have any specifications for this format. Do you know what kind of data is supposed to be stored in there and have a file specification?

Could you test again loading usi

[2022-02-04 09:59] JuliaSprenger commented on #1055
@samuelgarcia any news?

[2022-02-04 10:13] JulesGranget commented on #1060
Hi Julia, thanks for your reply ! I'm sorry but, what do you mean by "using neo master branch" ? Do I need to reinstall neo specifically ? I tried again but I got the same answer using this line of code :

reader = neo.io.NeuralynxIO(dirname=dirname)

[2022-02-04 11:34] JulesGranget commented on #1060
Don't hesitate to tell me if you want the whole error or if you need other information, @JuliaSprenger.

[2022-02-04 12:00] JuliaSprenger commented on #1060
Hi @JulesGranget. First you can tell me which neo version you are currently using (in your python script: `import neo; print(neo.__version__)`).

To see if the error persists on your side with the latest version you can install the latest version by running `pip install --upgrade git+https://github.com/NeuralEnsemble/python-neo.git`.

If the above installation fails with an error telling you that

[2022-02-04 12:32] JulesGranget commented on #1060
I checked my neo version and indeed it wasn't the last one. So I updated as you presented it to the 0.11.0dev0 and now it gives me this error :
Traceback (most recent call last):
  File "D:\Anaconda3\lib\site-packages\neo\io\neuralynxio.py", line 58, in __init__
    BaseFromRaw.__init__(self, dirname)
  File "D:\Anaconda3\lib\site-packages\neo\io\basefromrawio.py", line 74, in __init__
  File "D:\

[2022-02-04 13:27] JuliaSprenger commented on #1060
Hi again, It looks like you have multiple ncs files in your folder and at least one of them is sharing the sampling rate with the others. There is a work in progress PR to add support for this case soon (https://github.com/NeuralEnsemble/python-neo/pull/1041), but in the meantime you can try loading only a subset of your ncs files by moving the other ncs files temporarily to another (sub)folder.

[2022-02-04 13:40] JulesGranget commented on #1060
Hi, you mean that al least one of them does not share the same sampling rate ? Yes I will try to find the one that have not the same and see if it works. In this folder I also have .nev and .mrk file for the trig, I hope it does not raise issues. I will also try separately.

[2022-02-04 13:58] JuliaSprenger commented on #1060
Yes, that's exactly what I meant. In any case loading an individual ncs file should never raise this error, so if you encounter an issue even when having only a single ncs file left in your folder then tell me. The nev file should not be causing issues like this and the mrk file is currently not loaded by the NeuralynxIO, so it's also irrelevant. Is 'mrk' a standard Neuralynx file format? If you r

[2022-02-04 14:53] JulesGranget commented on #1060
Perfect ! Unfortunately I don't know for the mrk format and I don't have the information you require... But I will see if I can get them with the people I'm in touch with, if it could help anyway it's nice.

[2022-02-09 16:34] Falach opened #1072 "Blackrock nsx files to edf/mne"
Hi,
I'm trying to convert my blackrock recordings into edf to mne files using python.
I tried to run some examples I found using BlackrockIO:
https://mne.tools/stable/auto_examples/io/read_neo_format.html
https://tinmard.github.io/file-conversion.html
https://github.com/tinmarD/utils_python/blob/master/utils_eeg_io.py
But I got different errors and I still can't figure it out. It seems like they w

[2022-02-10 09:11] JuliaSprenger commented on #1072
Hi @Falach,
the last two example codes you are linking are assuming `AnalogSignal` objects to contain only a single recording trace. This default behavior was changed with the neo `0.9.0` release. You can force the old behaviour using the `signal_group_mode` flag. See notes here: `https://neo.readthedocs.io/en/stable/releases/0.9.0.html.

Neo does not support writing to EDF itself, you would need

[2022-02-15 09:12] alejoe91 opened #1073 "Maxwell rawio fails when channel_indexes are unsorted"
The MaxwellIO throws a `Indexing elements must be in increasing order` when channel indexes are unsorted. Will push a fix soon

[2022-02-21 02:56] TheChymera commented on #1042
Hi @JuliaSprenger , are there any updates on this? :)

[2022-02-22 01:17] bendichter opened #1076 "add CI tests for reading neuroscope spiking data"
https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/src/master/neuroscope/dataset_1

[2022-02-27 18:21] h-mayorquin opened #1077 "NeuroScopeRawIO fails to load when metadata contains group-less channels."
The following code:

[code]

Produces the following error:

[code]

I took a look at the code and it seems to me that the error comes from the assumption that every channel will have an assigned group (see the loop in the code):
https://github.com/NeuralEnsemble/python-neo/blob/2e00c994e46a1396fb4bdd393535604e6fc5568f/neo/rawio/neuroscoperawio.py#L74-L84

However, for this specific data that I am

[2022-03-01 13:20] #1077 closed

[2022-03-01 13:43] #1073 closed

[2022-03-02 23:34] bendichter opened #1084 "docs: "List of implemented formats" is empty for IO and RawIO"
https://neo.readthedocs.io/en/stable/rawio.html#list-of-implemented-formats

<img width="1055" alt="image" src="https://user-images.githubusercontent.com/844306/156467535-cb068878-c925-4844-9f74-e181d5fca6ba.png">

[2022-03-02 23:35] bendichter commented on #1084
Also true for io: https://neo.readthedocs.io/en/stable/io.html#list-of-implemented-formats

<img width="914" alt="image" src="https://user-images.githubusercontent.com/844306/156467682-037aba89-f573-48d2-8355-aeb180478482.png">

[2022-03-03 11:27] JuliaSprenger opened #1085 "Unpin nixio version"
As soon as there is a nixpy release including https://github.com/G-Node/nixpy/pull/536

[2022-03-03 13:37] #1028 closed

[2022-03-03 13:43] JuliaSprenger commented on #1072
Hi @Falach, this looks like it should work.
As a note: You are only converting a single AnalogSignal object of a single Segment. Just be aware there might be more data in other Segments / AnalogSignals. Also be aware that by using `.magnitude` you are stripping all physical unit information of a value. You might want to ensure a specific unit by first running `.rescale('Hz')`, e.g. to rescale to h

[2022-03-03 13:45] JuliaSprenger commented on #1065
@bendichter Did you confirm the error on your side with a recent neo version?

[2022-03-03 13:45] #1066 closed

[2022-03-03 13:46] #1064 closed

[2022-03-03 13:48] JuliaSprenger commented on #1060
I will close this issue for now @JulesGranget Feel free to reopen if you get more information regarding the mrk format.

[2022-03-03 13:48] #1060 closed

[2022-03-03 13:52] JuliaSprenger commented on #1037
@samuelgarcia Any news on this?

[2022-03-03 13:54] JuliaSprenger commented on #1055
@samuelgarcia Do you want to fix this yourself or do you accept a PR by @miketrumpis ?

[2022-03-03 13:56] JuliaSprenger commented on #1050
@easy-electrophysiology Tell us if you need more detailed instructions for the implementation than the references above.

[2022-03-03 13:57] JuliaSprenger commented on #1029
@Saksham20 Any news on this?

[2022-03-03 14:00] JuliaSprenger commented on #1039
Since there's no more comments by @samuelgarcia @apdavison I will close this issue for now. Feel free to reopen if you want to continue the discussion.

[2022-03-03 14:00] #1039 closed

[2022-03-03 14:02] JuliaSprenger commented on #1017
This looks like a small, but important detail we should fix. @samuelgarcia Any ideas on this. Could we use the same code in both cases to determine t_start and t_stop?

[2022-03-03 14:03] JuliaSprenger commented on #1017
We should then also add a test to check for consistent border handling.

[2022-03-03 15:05] JuliaSprenger opened #1087 "Move core tests to github actions - abandon travis"
To be able to parallel different core test runs we need to move these to github actions. Ideally the core tests are run first and only in a second step the io tests are run.

[2022-03-03 15:11] JuliaSprenger opened #1088 "add 'release' workflow to GH actions"
to speed up the neo release cycle it would help to have a workflow for this. This would need to cover
- [ ] check documentation is compiling
- [ ] check core and io tests are running
- [ ] check package building
- [ ] check pushing and installing from test.pypi
- [ ] push to pypi

this workflow should only be triggered by tagged commits.

[2022-03-03 15:15] JuliaSprenger commented on #1088
for comprehensive testing of documentation building we could build the doc on actions and only push the resulting html to readthedocs

[2022-03-03 16:17] JuliaSprenger commented on #448
This could be constructed on request when loading a structure containing groups that are flagged as linking spiketrains to corresponding recording traces (`channelviews`). This requires introducing a group type for 'pairing' data objects. This should be done only on demand for performance reasons.
This can be generalized also to multidimensional channelview objects to link a spiketrain list and mu

[2022-03-03 19:44] samuelgarcia commented on #1084
I tried a fix here #1086
Mets see if it builds.

[2022-03-04 15:02] #1065 closed

[2022-03-04 15:28] JuliaSprenger commented on #1042
Hi @TheChymera! Sorry for the delay, I will try to finalize #1041 next week.

[2022-03-07 10:20] JuliaSprenger commented on #1084
It seems #1086 did not fix the issue, since the latest version https://neo.readthedocs.io/en/latest/io.html#list-of-implemented-formats still does not contain the list of formats.

[2022-03-08 08:49] matiusz opened #1089 "spike2rawio.py broken in pip package"
The package for Neo available in pip is broken - after installing it on Python 3.10 by `pip install neo` file spike2rawio.py contains some junk leftover code that is broken and prevents the script from working -
[code]

This piece of code in lines 66-68 is not seen anywhere on the repository and on equivalent (0.10) release on GitHub. Removing this code seems to make the script work fine.

PS. I'v

[2022-03-08 09:11] samuelgarcia commented on #1089
Hi Mateuz,
this is super strange. This looks something merge in master by error.
Could you update your neo version. `pip install --upgrade neo` ?

[2022-03-08 09:23] matiusz commented on #1089
I've installed Neo fresh yesterday and the faulty code was there, today after `pip install --upgrade neo` result is the same.

[2022-03-08 09:33] samuelgarcia commented on #1089
I must have done a mistake while packaging.
I will do it again.

[2022-03-08 11:58] samuelgarcia commented on #1084
This is fixed now.
https://neo.readthedocs.io/en/latest/io.html

[2022-03-08 11:58] #1084 closed

[2022-03-08 14:32] samuelgarcia commented on #1089
Sorry for this.
I have just push a new release 0.10.2.

[2022-03-08 14:32] #1089 closed

[2022-03-09 07:51] samuelgarcia commented on #1055
Same as https://github.com/SpikeInterface/spikeinterface/issues/329

[2022-03-09 11:36] samuelgarcia commented on #1055
Hi sorry, for sooooo long delay.
Could you #1095 ?

[2022-03-09 18:41] miketrumpis commented on #1055
Yeah, it looks functionally identical to the fork I've been using for a little while :)

Have you had exposure to open ephys version 0.6 yet? There appear to be some new file naming conventions, and interesting new corner cases, e.g. "CH{n}" name collisions! I've had to patch things over by parsing the "Continuous_Data.openephys" xml file, and then shimming that output to get consistent outcomes.

[2022-03-10 09:13] JuliaSprenger commented on #1055
@miketrumpis It might be worth putting a dataset of that version in the test dataset collection. Do you have a small (<10Mb) dataset that could be put on [Gin](https://gin.g-node.org/Neuralensemble/ephy_testing_data)?

[2022-03-10 09:15] samuelgarcia commented on #1055
@JuliaSprenger : what @miketrumpis mention is independant from this discussion.
I propose merge  PR #1095 and close this issue and open a new one.

[2022-03-10 09:22] JuliaSprenger opened #1098 "Add support for open ephys version 0.6"
Have you had exposure to open ephys version 0.6 yet? There appear to be some new file naming conventions, and interesting new corner cases, e.g. "CH{n}" name collisions! I've had to patch things over by parsing the "Continuous_Data.openephys" xml file, and then shimming that output to get consistent outcomes. I do hope there's an easier way that occurs to you!

_Originally posted by @miketrumpis i

[2022-03-10 09:24] JuliaSprenger commented on #1055
Closed via #1095

[2022-03-10 09:24] #1055 closed

[2022-03-10 09:35] JuliaSprenger opened #1099 "Failing tests on macos, py 3.9, numpy 1.21.5"
See https://github.com/NeuralEnsemble/python-neo/actions/runs/1962231833

[2022-03-10 14:57] shashwatsridhar commented on #1059
Hey @JuliaSprenger and @samuelgarcia, I have been neck deep in experiments that leave me with barely any time to code. This will be the case at least until May, so that's probably the earliest that I can make any significant contributions on this front :(

[2022-03-10 16:13] nmarkowitz opened #1100 "Neuralynx header read error"
Hi,

I'm trying to read neuralynx (.ncs) files but I keep getting an error.

[code]

I've tried this on both a Windows and Mac computer and have come up with the same error. Any idea what could be causing this?

[2022-03-10 16:45] samuelgarcia commented on #1100
Hi Thanks for report.
Have you tried with current master or an updated version ?
@JuliaSprenger : this is for you ?

[2022-03-10 16:46] JuliaSprenger commented on #1100
Hi @sportnoah14,
based on your traceback I assume you get the error `'Number of channel ids does not match channel names.'`.  How many ncs files do you have? Did you try already loading only a subset?

[2022-03-10 17:07] sportnoah14 commented on #1100
@JuliaSprenger I reinstalled the latest version of neo using pip. I ran the following

[code]

HOWEVER, when I tried this exact same function on my mac I got a different error:
[code]

Any ideas? Both computers are running a conda environment using python 3.7.12 and packages installed for each are similar if not identical.

[2022-03-10 17:13] JuliaSprenger commented on #1100
The different errors on the os could be caused by `glob` returning the files in different orders. In any case can you try to identify if only a subset of your files is causing the issue by loading only a subset?

[2022-03-10 17:21] sportnoah14 commented on #1100
@JuliaSprenger looped through each file in the folder to see if I could open that individual .ncs file. All of them returned an error and I wasn't able to successfully open a single one. Also, you were correct about `glob`.

[2022-03-10 17:25] JuliaSprenger commented on #1100
Can you provide one file for each of the error types you observe? If you want you can upload them here https://amubox.univ-amu.fr/s/5Cd2BedrfJs9BQf

[2022-03-14 16:05] sportnoah14 commented on #1100
@JuliaSprenger sorry for the delay, I uploaded two .ncs files to the link you provided. Each file has a different error when I try to read them using `reader = NeuralynxIO(filename=<this_file>)`. Thank you for the help.

[2022-03-17 00:41] rly opened #1101 "Support for MED64 acquisition system?"
Is there support for in vitro extracellular ephys data in `.modat` files from the ALPHA MED Scientific [MED64 acquisition system](https://www.med64.com/products/med64-basic/)?

If not, could it be added? I cannot find much information about the `.modat` format, but MED64 provides [software](https://www.med64.com/wp-content/uploads/2016/04/Mobius_tutorial_MED-A64MD_amp.pdf) that allows exporting da

[2022-03-17 07:50] samuelgarcia commented on #1101
Hi Ryan,
I am not aware of this format.
If you have small files examples and a clear specification we could look at this.

[2022-03-21 12:50] ClaraBesserer opened #1102 "problem when saving a block using nixio"
Hello,

Recently I encountered a problem when saving blocks with nixio. It's not constant, and I couldn't find any particularity in the data explaining why it sometimes works and sometimes don't. Here is the error message:
![Screenshot_20220318_181217](https://user-images.githubusercontent.com/87136903/159263381-74e4e6a0-b08d-4ede-953c-87855ee47d9e.png)

It seemt that the problem comes from an eve

[2022-03-21 18:05] dneophytou commented on #1100
Sorry to be join this conversation, but I am having a similar issue. Has this been resolved?

[2022-03-21 18:11] dneophytou opened #1104 "Neuralynx Header Error"
I am trying to import neuralynx data into python using neo. The code I'm running is:
import neo
dirname = (specify directory name)
reader = neo.io.NeuralynxIO(dirname = dirname, filename = (file name in directory))

The error I am getting is "OSError: No matching header open date/time for application {} version Cheetah. Please contact developers."

[2022-03-22 08:00] samuelgarcia commented on #1102
Salut Clara,
@JuliaSprenger  will be you best Friend here. She is our best nix expert.
Sam

[2022-03-22 08:01] samuelgarcia commented on #1104
Hi,
did you try with the new matser ?

[2022-03-22 08:59] JuliaSprenger commented on #1102
Hi @ClaraBesserer In principle it shouldn't be a problem of having a quantities array as array_annotations. Can you check you have no `None` or `NaN` in there that might cause the issue?

Just as a side note: It sounds like you might also be interested in using the `neo.Epoch` object for representing timepoints + durations.

[2022-03-22 11:54] dneophytou commented on #1104
Hello,
Yea I updated the package and am using the latest version. I had previously tried these commands with the older version and it didn’t work, and so I saw another post on GitHub where the suggestion was to update the software. I am still having the same issue since updating.
________________________________
From: Garcia Samuel ***@***.***>
Sent: Tuesday, March 22, 2022 4:01:46 AM
To: NeuralEn

[2022-03-22 15:35] ClaraBesserer commented on #1102
I think I have found the problem!
The event just before anticip_start is empty (a particularity of this recording) and the array_annotations were
![Screenshot_20220322_161627](https://user-images.githubusercontent.com/87136903/159519334-5c55a793-cc49-4b4d-8a92-8b5132c90c82.png)
So empty quantity arrays. I have changed them to non-quantity arrays and it seems to work.

[2022-03-23 11:38] JuliaSprenger commented on #1102
Hi @ClaraBesserer I opened a PR to fix this issue (#1105). Can you confirm the PR solves your issue?

[2022-03-23 11:45] JuliaSprenger opened #1106 "Broken test on windows"
Hi @samuelgarcia It seems some block test breaks on windows-latest; python 3.7; numpy 1.20.3. (https://github.com/NeuralEnsemble/python-neo/runs/5659517492?check_suite_focus=true)  I tried to reconstruct the issue on my side without success. Do you have any idea what might go wrong there?

[2022-03-23 12:46] samuelgarcia commented on #1106
It sounds like it is related to spiketrainlist not being a list in shema comparison.
@apdavison : could you have a look ?

[2022-03-23 13:56] JuliaSprenger commented on #1106
What is even weirder is that for a new, unrelated PR the tests are still passing, see https://github.com/NeuralEnsemble/python-neo/runs/5659565782?check_suite_focus=true

[2022-03-23 14:14] ClaraBesserer commented on #1102
Hello, yes it works for me!

[2022-03-23 15:14] #1102 closed

[2022-03-24 00:56] rly commented on #1101
Hi Samuel, I am gathering the sample data and details and will get back to you soon. Thanks!

[2022-03-24 08:55] JuliaSprenger commented on #1106
With #1105 being merged, the tests in master succeed again. It is still not clear to me why those tests failed earlier, but I will close the issue for now.

[2022-03-24 08:55] #1106 closed

[2022-03-24 17:02] JuliaSprenger commented on #1100
Hi @sportnoah14
Thanks for providing the files.
I fixed the reading of the header in https://github.com/NeuralEnsemble/python-neo/pull/1107 Can you confirm this is also working on your side? I noticed that the two files you provided have a lot of inconsistent data block durations (+-1 sample). This leads to the generation of a number of segments when reading those files. Are you aware of that issu

[2022-03-24 17:05] JuliaSprenger commented on #1104
Hi @dneophytou Can you provide a small test file, so I can check which Cheetah version and header layout you are using? You can provide a file here without making it publicly accessible https://amubox.univ-amu.fr/s/5Cd2BedrfJs9BQf

[2022-03-24 17:11] dneophytou commented on #1104
I have provided a file via that link. The file is titled with my username at the beginning of the file name. Please let me know if you need anything else.

[2022-03-24 19:09] sportnoah14 commented on #1100
@JuliaSprenger I cloned and tried that branch. It works on individual files. However I'm still getting an error if I try to read the whole directory:

[code]

Any idea what could be causing this?

This is actually data from another group so I'll pass that info about block size to them. Thanks for catching it. Would it help if I upload the entire directory of files?

Thanks again for working on thi

[2022-03-25 14:41] JuliaSprenger commented on #1100
The `sampling_rate.size == 1` error is raised because we are still assuming all ncs files are recorded with the same sampling rate (single stream). I am currently working this to extend this for multiple streams here: https://github.com/NeuralEnsemble/python-neo/pull/1041.

[2022-03-25 15:18] sportnoah14 commented on #1100
Thanks @JuliaSprenger . Let me know if I can help with this in any way. In the meantime, I can read individual streams by specifying "filename" correct?

[2022-03-25 17:55] dneophytou commented on #1104
I've already uploaded a sample file, but I've just also uploaded a screenshot of the exact error message I am getting. Not sure if that'll be anymore help, but wanted to include it just in case there's an error that I'm missing.

[2022-03-28 13:15] JuliaSprenger commented on #1100
@sportnoah14 Would it be possible to add the two test files you provided to the public database of test files for Neo on [gin](https://gin.g-node.org/Neuralensemble/ephy_testing_data)? If yes, whom can I reference as provider?

[2022-03-29 10:13] JuliaSprenger commented on #1100
For testing purposes I created a branch containing the header changes (https://github.com/NeuralEnsemble/python-neo/pull/1107) as well as streams (https://github.com/NeuralEnsemble/python-neo/pull/1041). This branch can be found here: https://github.com/JuliaSprenger/python-neo/tree/enh/add/neuralynx_header_rate This branch should work at least for sessions that don't have inconsistent data block

[2022-03-29 10:36] JuliaSprenger commented on #1104
I opened a PR here https://github.com/NeuralEnsemble/python-neo/pull/1107 that should fix this issue. Can you confirm?

[2022-03-29 13:54] dneophytou commented on #1104
Hi Julia, yes this worked! Thank you so much for your help!

[2022-03-31 14:31] #1100 closed, assigned to JuliaSprenger

[2022-03-31 14:31] #1104 closed

[2022-03-31 14:48] JuliaSprenger opened #1109 "Make releases on github and pypi consistently"
The releases on github are lagging behind as these need to be done manually. @samuelgarcia and me propose to only use to only use pypi for releases and plain tags on github so ensure there's no conflicting latest release versions in different places. This implies deleting the already existing releases on github. @apdavison What do you think about this?

[2022-03-31 15:24] sportnoah14 commented on #1100
@JuliaSprenger, for using those files I sent you as test data, I've e-mailed those that originally sent it to me as test data to assist them. I'll relay their response to you when I hear back from them.

[2022-03-31 15:27] JuliaSprenger commented on #1100
Thanks! If it helps, I would only include the file header and the first 32 (2)  packets of the files, so only a small fraction of the file you provided.

[2022-04-08 15:05] TdSNielsen opened #1110 "Reading raw TDT data"
I am having problems figuring out how to import TDT data using the extractors sub-package of spikeinterface, which makes use of neo for the data import. In the attached example, I am trying to load data from a specific tank. In the code, folder_path points to the folder representing this tank (i.e., a folder containing all (64) channels and header files). 'eNeu1' is the stream that I wish to load,

[2022-05-07 07:55] TdSNielsen commented on #1110
So, I figured out what caused this problem:

If the TDT data files are located in ~/folder_1/folder_2/, the the filename of the *.Tbk file must be equal to: folder_1_folder_2.Tbk
This is a bit weird, and is not the case when using TDT's own python functions. However, now that I know this, I was able to correct it.

I am still struggling with another issue, though: If I don't specify stream_id, I g

[2022-05-07 08:03] samuelgarcia commented on #1110
Hi Thomas,
for spikeinterface when the format is multistream you indeed to specify which one because Recording object is mono stream.
I think for tdt stream are order by descending sampling rate.
Otherwise you can also loop over then inspect channel names and properties until you find the good one.

[2022-05-07 08:23] TdSNielsen commented on #1110
Thanks @samuelgarcia, that makes sense. I have indeed been mainly trying with stream='0' because the relevant stream (store='RSn1' in TDT terminology) is first in the TDT header file. Now I just need to figure out why it throws the data type error on dtype in baserecording.py...

Do you know if it is possible to limit what data gets loaded from a stream? The relevant stream contains 64 channels, o

[2022-05-07 08:32] samuelgarcia commented on #1110
About the error, maybe @JuliaSprenger could help I haven't play with this format for a while.

About how to limit the data loaded, no worry in spikeinterface bnothing is loaded!! All object are leazy loaded.
So you can reduce time, select some channel one this object and data are still not loaded.
Everything is lazy.
The data is retrieve at the latest moment when the sorter need it.
Have a look to

[2022-05-07 10:38] TdSNielsen commented on #1110
Thank you very much for your inputs, @samuelgarcia! :)

[2022-05-09 14:30] JuliaSprenger opened #1115 "partially broken download of test data"
In the latest runs of GH action the first attempt to fetch a data file from GIN fails with the error
[code]
See attempt 2 of https://github.com/NeuralEnsemble/python-neo/runs/6325659861?check_suite_focus=true
The same test run in attempt 1 were successfull 17 days earlier.

The two attempts use the same versions of the datalad, git-annex are the same. `git` differs only in a minor version (`1:2.35

[2022-05-09 19:00] samuelgarcia commented on #1115
On spikeinterface side.
Alessio is also fightinh here : https://github.com/SpikeInterface/spikeinterface/pull/621

[2022-05-11 11:41] Moritz-Alexander-Kern opened #1116 "update spack package for py-neo"
## current spack package py-neo
The current spack package for neo includes versions 0.8.0, 0.5.2, 0.4.1, and 0.3.3.
(see: https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/py-neo/package.py)

The latest versions of [elephant](https://pypi.org/project/elephant/) and [Viziphant](https://pypi.org/project/viziphant/0.2.0/#description) require
- neo >=0.9.0 for Elephant 0.9.0

[2022-05-12 14:42] apdavison commented on #1116
see https://gitlab.ebrains.eu/technical-coordination/project-internal/devops/platform/ebrains-spack-builds/-/merge_requests/86

[2022-05-12 14:42] apdavison commented on #1116
we should also submit this to spack upstream at some point.

[2022-05-13 10:44] #1115 closed

[2022-05-13 14:57] JuliaSprenger opened #1118 "Spiketrainlist object comparison fails in rare cases"
In some cases the neo core tests fail due to an object comparison of a list and a spiketrainlist, see
- https://github.com/NeuralEnsemble/python-neo/runs/6422039865?check_suite_focus=true
- https://github.com/NeuralEnsemble/python-neo/runs/5718538078?check_suite_focus=true
- https://github.com/NeuralEnsemble/python-neo/runs/5659519369?check_suite_focus=true.
This error is only happening in some of

[2022-05-19 08:38] samuelgarcia commented on #923
@grahamfindlay  : we decided to move the probe description in probeinterface.
https://github.com/SpikeInterface/probeinterface/blob/main/probeinterface/io.py#L669

This todo is old and should be remove.
Maybe you could check that the probeinterface code is equivalent to your code.

[2022-05-19 13:51] #1038 closed, assigned to JuliaSprenger

[2022-05-19 13:51] #1042 closed, assigned to nobody

[2022-05-20 15:00] JuliaSprenger commented on #1118
And here it happened again: https://github.com/NeuralEnsemble/python-neo/runs/6524684429?check_suite_focus=true

[2022-05-31 13:24] codingchipmunk opened #1123 "Adding type hints"
Hello everyone,
I would like to go through the code in the current master-branch and add type hints to most stuff.
However I wanted to ask if this enhancement would be desired or categorically rejected before I put in the work.

I am currently developing a system which will rely heavly on neo and I believe adding type hints will be beneficial for developing systems based on neo. Also data scientis

[2022-05-31 14:42] apdavison commented on #1123
That would be very welcome.

[2022-05-31 16:59] samuelgarcia commented on #1123
Hi all,
I will be the grumpy guy.
Sorry for that.
I do not like to much the type hint in python.

Maybe I am too old and do not adapt fast enought,  my feeling is that this python type hint is usefull mainly for vscode checking.
I don't see a clear advantage between the verbosity added in the code and the global benefit.

Further more when playing with args that can be numpy.array or list or None.

[2022-05-31 18:22] apdavison commented on #1123
I understand where you're coming from, Sam. For smaller projects, or for applications rather than libraries, I tend to agree that the cost sometimes exceeds the benefits.

For a project like Neo, however, which is a dependency for many other projects, I think

1. the process of adding type hints tends to improve the code, as it catches bugs and exposes hidden assumptions and corner-cutting;
2. hav

[2022-05-31 18:35] KonKob opened #1124 "Compatibility for .pl2 files"
As Plexon .plx file is supported, will there also compatibility for the newer format .pl2 be implemented?

[2022-06-01 09:11] JuliaSprenger commented on #1124
Hi @KonKob! Currently we neither have example files in the new format nor precise format specifications. If you can provide those, we can start extending the Plexon support to also cover the new format.

[2022-06-02 14:48] apdavison opened #1126 "Add support for IrregularlySampledSignal to NeoMatlabIO"
cf https://github.com/NeuralEnsemble/PyNN/pull/754

[2022-06-08 14:26] AvidusMauch commented on #1126
Do you have an estimate when this will be available in a "stable" version?

[2022-06-09 10:04] #1126 closed

[2022-06-14 09:13] JuliaSprenger opened #1128 "inconsistent parameters of NWBIO.write_block"
`write_block` methods are expected to take `self, block, **kwargs` as parameters, as. defined in https://github.com/NeuralEnsemble/python-neo/blob/ffde1764b206a8e7122e88ff974cfc40325d3333/neo/io/baseio.py#L192
@legouee Is there a particular reason why you require an additional `nwbfile` argument [here](https://github.com/NeuralEnsemble/python-neo/blob/ffde1764b206a8e7122e88ff974cfc40325d3333/neo/i

[2022-06-15 22:12] grahamfindlay opened #1129 "Issues reading analog signals from TDT SEV"
Hi, all. I have never used `neo` directly before, so I apologize if this is just user error. But I have read through docs and code, and I _think_ what I'm seeing is unexpected behavior.

I have a TDT tank containing a single TDT block using SEV (rather than TEV) format. I can successfully create a `TdtIO` object, read the `.Tbk` and `.tsq` files, which seem to reflect the right streams, with the r

[2022-06-16 12:37] samuelgarcia commented on #1129
Hhi Graham,
I did this reader very long time ago.
I don't remember any detail.
@JuliaSprenger : have refactor a bit recently. Maybe she will be able to help.

[2022-06-16 13:07] JuliaSprenger commented on #1129
Hi @grahamfindlay, thanks for reporting this. My first suspicion would be that the `.sev` files are not detected by the io, as they are containing an additional `_EEGf` identifier in the filename, that is not present for the other files. Could you try renaming some of your sev files to just `FCSV_EEG-220215-173221_Paul-220607-102425_Ch{1..4}.sev`?

[2022-06-16 22:55] grahamfindlay commented on #1129
Thanks, both. 4 of the `.sev` files have `_EEGf` identifiers, and 4 have `_EEGr` identifiers. If I were to delete these identifiers from both sets of files, then the two sets would have identical filenames (i.e. the filenames are identical apart from these identifiers), so I can't do that. What I did instead, was:

1. Delete the `_EEGf` identifiers, and leave the `_EEGr` identifiers in place. This

[2022-06-22 16:06] appukuttan-shailesh opened #1131 "Error in reading NWB files"
Tried with two sample files:
1) https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/VF_paper_demo/live_paper/temp/525011725_ephys.nwb
2) https://celltypes.brain-map.org/api/v2/well_known_file_download/742807112

Installed Neo using the master branch (June 22: [commit](https://github.com/NeuralEnsemble/python-neo/commit/13d3fe312a87913d944886d808eb013cab2c5dcf)) and tried the following

[2022-06-23 14:44] JuliaSprenger commented on #1131
We should raise a telling error message in that case suggesting to convert to a later NWB format.

[2022-06-23 14:55] JuliaSprenger commented on #1123
Let's wait for a quantities release including typing and then include it in the core library.

[2022-06-23 14:57] JuliaSprenger commented on #1110
@TdSNielsen Is this issue solved for you?

[2022-06-23 14:59] JuliaSprenger commented on #1109
We should delete the existing releases on github to avoid confusion.

[2022-06-23 15:04] samuelgarcia commented on #1098
@miketrumpis : do you have a dataset for dealing this problem ?

[2022-06-23 15:05] apdavison commented on #1047
thank you for the suggestion. Please feel free to open a pull request with a more concrete proposal.

[2022-06-23 15:05] #1047 closed

[2022-06-24 10:07] TdSNielsen commented on #1110
@JuliaSprenger No, I have not been able to resolve it: When using extractors from SpikeInterface, I get a series of errors (neoextractors/tdt.py line 27 and 21 -> neoextractors/neobaseextractor.py line 55 -> spikeinterface/core/baserecording.py line 31). I have tried to use neo.io directly instead (using tdtio and read_block() or read_segment()); this does not return any errors, but the data objec

[2022-06-27 12:14] legouee commented on #1131
The error does not come from Neo, because the files are also not readable with PyNWB.
It must be a version compatibility issue between PyNWB and hdmf.
Various tests have been carried out using earlier versions but without success.
A message has been sent to the NWB team.

[2022-07-01 18:29] h-mayorquin opened #1133 "Possible missing streams in `CedIO`"
Hi, I am looking at the gin data for CedIO and I found the following:

[code]
With the output indicating only one stream:
[code]

However, if I looked at the last then channels:
[code]
The output is:
[code]

It appears to me that from channel 67 onward  we are a dealing with a different modality. Is this correct?

[2022-07-01 19:52] samuelgarcia commented on #1133
This channels looks differents but they belong to the same stream:
  * same sampling rate
  * same t_start
  * same duration
In short the same (or same group) of ADC.
The neo do not split channels depending modality. Even it is obvisous that latest channels are onther block of channel than the first part

[2022-07-01 20:08] h-mayorquin commented on #1133
I see, what is exactly the definition of stream? The only definition that I see on the docs are:

[code]
https://neo.readthedocs.io/en/latest/releases/0.10.0.html?highlight=stream#rawio-modules

That seems to be lacking something.

Btw, @samuelgarcia , the channel 67 over there has units of grams, this probably triggers the warning unecessarily in:
https://github.com/SpikeInterface/spikeinterface/

[2022-07-04 07:49] apdavison commented on #1133
@samuelgarcia shouldn't "same units" also be part of the definition? Would these channels with units of millivolts, grams and volts be separated into separate AnalogSignals at the `neo.io` level?

[2022-07-04 07:55] samuelgarcia commented on #1133
@apdavison
At neo.rawio no the units is not taken in account because generally one stream is one buffer, splitting this in several sub stream per units woulb be inefficient and lots of code hard to maintain.
At neo.io level this is somehow already done. There is not the stream concept at all. Signal streams are automatically split into AnalogSignals that inherently have the same units.
I think thi

[2022-07-04 08:00] apdavison commented on #1133
@samuelgarcia thanks for the clarification!

[2022-07-04 15:44] h-mayorquin commented on #1133
@samuelgarcia thanks for taking the time to clarify.

It seems that this was caused by my misunderstanding of what constitutes a stream. I also read in
https://neo.readthedocs.io/en/stable/rawio.html

That:
`AnalogSignals must have the same characteristcs across all Blocks and Segments: sampling_rate, shape[1], dtype`:

Which does sound similar to what you are hinting at? What is ACD?

I can add s

[2022-07-05 08:04] yger opened #1134 "Deprecation Warnings with py3.9/3.10"
In recent versions of Python, distutils.LooseVersion is deprectated, so this leads to a lot of warnings.

setuptools/_distutils/version.py:351: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  other = LooseVersion(other)

[2022-07-15 06:02] TdSNielsen commented on #1110
I never managed to get Neo to work with TDT data directly, but I ended up exporting my data to float32 binary format, which seems to work.

[2022-07-15 06:02] #1110 closed

[2022-07-15 07:17] #1134 closed

[2022-07-15 09:15] JuliaSprenger commented on #1110
Hi @TdSNielsen, if you could provide a small test dataset we could extend the tdtrawio to also work for datasets of your type. Feel free to drop them [here](https://amubox.univ-amu.fr/s/5Cd2BedrfJs9BQf) or open a PR to our ephy-testing-data repository on [GIN](https://gin.g-node.org/Neuralensemble/ephy_testing_data) directly.

[2022-07-15 09:37] JuliaSprenger commented on #1098
Hi @miketrumpis, thanks for pointing to your custom fixes. However for a general fix it is essential to have a test dataset as reference. Do you know any public dataset in the new format or will you generate one in the future?

[2022-07-15 20:25] vincisLab commented on #1124
Hi Julia,

we are also interested in neo compatibility for .pl2 files.
I attached a zip file contaning a short recording. I hope this helps.

Roberto

[CB306_060622.zip](https://github.com/NeuralEnsemble/python-neo/files/9123849/CB306_060622.zip)

[2022-07-16 08:42] KonKob commented on #1124
Hi,

in addition: that's what I can find on the format:
https://plexon.com/wp-content/uploads/2017/06/PL2-File-System-Overview.pdf

[2022-07-18 15:48] JuliaSprenger commented on #1124
That's unfortunately not a format specification as it is not describing the memory layout of the file. If you come across a more detail description, feel free to add a link here.

[2022-07-18 16:32] vincisLab commented on #1124
Hi Julia,

yes I am going to deposit the file there.
Also, no problem for adding the file to your public repository. Provider is Vincis Lab @ Florida State University.

Best,
Roberto

[2022-07-21 17:44] AlexLM96 opened #1139 "Error loading plx file"
I'm trying to load a .plx file and I'm getting an error when using .read(). This error seems to be specific for this file. However, I know the file is not corrupted because I can open it with other software. I have tested a couple more .plx files and they seem to work fine. I'm happy to share the file.

Here's my code:
[code]
This runs fine, although it outputs this Warning:

[code]

However, when

[2022-07-22 13:49] JuliaSprenger commented on #1139
Hi @AlexLM96 It looks like your signal does not have gain attached, as neo is attempting to use an infinite gain. I am surprised this is not an issue in other softwares. How do these handle this case?
Have you tried loading the data in non-lazy mode? Does this also fail? Would it be possible for you to share the respective file for debugging purposes?

[2022-07-22 15:01] AlexLM96 commented on #1139
It still fails in non-lazy mode. And sure, I'll email you the file. Thanks!

[2022-07-25 08:56] TdSNielsen commented on #1110
Hi @JuliaSprenger, I have uploaded a short pre-experiment recording via your first link. It contains continuous recording of 64 channels, where ch. 1-32 are spike data from an MEA array.

[2022-07-26 21:29] D1o0g9s opened #1144 "Warning to user when .meta is not found for spikeglx data?"
https://github.com/NeuralEnsemble/python-neo/blob/0aa3a68629f9a6d557523c09c903ad699399b3f7/neo/rawio/spikeglxrawio.py#L241-L245

It may be helpful to have a warning when .meta is not found in a spikeglx data directory. Some data download options (e.g. gin) append '.txt' at the end of the filepath which would cause the .meta file not to be found.

[2022-07-27 14:14] JuliaSprenger commented on #1118
@apdavison And here it happened again: https://github.com/NeuralEnsemble/python-neo/runs/7540753511

Is this tests supposed to fail with a low probability? There is a comment here `# for debugging occasional test failure`

[2022-07-27 15:49] apdavison commented on #1118
@JuliaSprenger I spent some time looking into this a few weeks ago, which is when I added that debugging line (which shouldn't have been merged/pushed, sorry). If I remember correctly, it occurs when you happen to get a spike train list of length 0, and the error is somewhere in the filter functionality, but I didn't get as far as fixing it.

[2022-08-04 08:02] JuliaSprenger opened #1146 "Check spikeglx file size comparison"
@JuliaSprenger I just checked out all the files that @TomBugnon was using, and everything looks square to me. Using Python 3.7.12, `os.stat(path).st_size` properly reports uncompressed file size, matching SpikeGLX metadata content, for every file. @samuelgarcia How confident are you that this is the check that is leading to the warning in question?

_Originally posted by @grahamfindlay in https://

[2022-08-04 08:05] JuliaSprenger opened #1147 "Improve Spikeglx IO to also load datasets with only `lf` files"
Also @samuelgarcia , if I try to instantiate from a folder in which there are only 'lf' files, no 'ap' file, I get the following errors

[code]

And with stream_id = 'imec0.ap' (there is no `imec0.ap` in the folder)

[code]

_Originally posted by @TomBugnon in https://github.com/NeuralEnsemble/python-neo/issues/1125#issuecomment-1172533062_

[2022-08-05 17:36] grahamfindlay commented on #1129
Update: Found [another person](https://github.com/SpikeInterface/spikeinterface/issues/587#issuecomment-1120159601) with this more recent issue:

[2022-08-08 20:58] CodyCBakerPhD opened #1149 "Fully lazy imports of IO submodules"
@JuliaSprenger @samuelgarcia

Hello everyone - a recent [issue on NeuroConv](https://github.com/catalystneuro/neuroconv/pull/71#issue-1330574689) drew our attention to the fact that global module import structures such as https://github.com/NeuralEnsemble/python-neo/blob/master/neo/__init__.py#L10-L11 and https://github.com/NeuralEnsemble/python-neo/blob/master/neo/io/__init__.py#L278-L379 will ac

[2022-08-12 20:02] histed opened #1151 "Error reading blackrock nev file, IndexError: too many indices, in blackrockrawio.py - due to deprecation drop in Numpy 1.23.0"
To replicate:
`brIO = neo.io.BlackrockIO('datafile002.nev')`

Error is at:
[code]

Datafile:

[datafile002.nev.gz](https://github.com/NeuralEnsemble/python-neo/files/9329535/datafile002.nev.gz)

[2022-08-12 20:03] histed commented on #1151
Versions:

(Pdb) neo.__version__
'0.10.0'
(Pdb) np.__version__
'1.23.1'
(Pdb) sys.version
'3.8.10 | packaged by conda-forge | (default, May 10 2021, 22:58:09) \n[Clang 11.1.0 ]'

[2022-08-17 21:42] cboulay commented on #1151
I'm encountering this too, using i140703-001-03.nev from https://gin.g-node.org/INT/multielectrode_grasp

The error is in `_parse_header`.

https://github.com/NeuralEnsemble/python-neo/blob/50abfbce832edb1c0f8364ac34c8a6442e1a3edf/neo/rawio/blackrockrawio.py#L439-L442

`data` is a structured array (fields for timestamp, packet_id, etc.) of shape (1317,)

`mask` is a len-1 list containing a boolean

[2022-08-17 22:11] histed commented on #1151
I am pretty sure my file passed our test suite about a year ago with an
older neo version, so I assumed this was due to a neo change, but I didn’t
check the neo code.

On Wed, Aug 17, 2022 at 17:42 Chadwick Boulay ***@***.***>
wrote:

[2022-08-18 20:24] cboulay commented on #1151
It's in a block of code that only gets touched when there are no .nsx files present. So you can trigger this, for example, by opening a nev file that has been run through a sorter and has an extra `-03` on the filename so the matching .nsx files are missed.

The error has been there since at least before Python 3.8, because I tried checking out old commits and nothing before fe56cc3d951c143e800c25

[2022-08-19 01:38] histed commented on #1151
Looks to me like the issue is a change in Numpy that changed how indexing works:
https://github.com/numpy/numpy/releases

So what happened before Numpy 1.23.0 was:
`mask = [bool_array]` was interpreted as `mask = tuple([bool_array])` which is equiv to `mask = bool_array` for this indexing case.

[2022-08-19 01:44] histed commented on #1151
Indeed if I change the code in blackrockrawio.py to

[code]

it works.

Looks like this change was added in 2018 in this commit: https://github.com/NeuralEnsemble/python-neo/commit/780d4c40f9d0443c70382ed863641363448bdbc8

I looked through blackrockrawio.py and it looks like this is the only line with 'mask' in it that has the bool array wrapped into a list.
So I vote for dropping the square brack

[2022-08-19 01:45] histed commented on #1151
fyi @muellerbjoern - proposed bugfix